@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

@{
  var status = WorkService.Status(model.status);
  var priority = WorkService.Priority(model.priority);
}

<ul id="task_@model.id" class="task_list is_sub columns is-gapless is-size-7" style="border-color: @priority.color;">
  <li class="column pr-3" style="width: calc(100% - 630px);">
    <div class="pr-3">
      <span class="text_1_line">@model.name</span>
    </div>
  </li>
  <li class="column is-narrow" style="width: 130px;">
    <DateRangePicker @bind-StartDate="dateS" @bind-EndDate="dateE">
      <PickerTemplate>
        <a id="@context.Id" @onclick="context.Toggle" class="icon-text">
          <span class="icon is-small mr-1">
            <i class="material-icons-outlined is-size-6">calendar_today</i>
          </span>
          @if (context.TStartDate != null && context.TEndDate != null)
          {
            <span>@context.TStartDate.Value.ToString("dd/MM")</span>
            <span class="mx-1">-</span>
            <span>@context.TEndDate.Value.ToString("dd/MM")</span>
          }
        </a>
      </PickerTemplate>
    </DateRangePicker>
  </li>
  <li class="column is-narrow" style="width: 250px;">
    
  </li>
  <li class="column is-narrow" style="width: 110px;">
    <div class="dropdown is-right @(toggleMember ? "is-active" : "")">
      <div class="dropdown-trigger">
        <div class="avatar_list">
          @foreach (var item in MembersShort(Layout.UserList))
          {
            <span class="image is-rounded is-24x24 has-background-grey" title="@item.FullName">
              @if(string.IsNullOrEmpty(item.id))
              {
                <span class="icon has-text-white is-size-7">@item.FullName</span>
              }
              else
              {
                <img src="@item.avatar" alt="AVT">
              }
            </span>
          }
          <a class="icon is-bordered has-text-grey is-rounded ml-4" @onclick="() => toggleMember = !toggleMember">
            <i class="material-icons-outlined is-size-6">add</i>
          </a>
        </div>
      </div>
      <div class="dropdown-menu" style="width: 350px;">
        <div class="dropdown-content px-3">
          <div class="has-text-dark has-text-weight-medium font_14 mb-3">
            Cập nhật thành viên
          </div>
          <div class="control has-icons-right mb-3">
            <input class="input is-small is-rounded" type="text" placeholder="Tên thành viên, phòng ban...">
            <span class="icon is-right">
              <i class="material-icons-outlined is-size-6">search</i>
            </span>
          </div>
          @foreach (var item in Layout.UserList)
          {
            <ul class="columns is-vcentered is-variable is-1">
              <li class="column is-narrow">
                <a class="icon has-text-danger">
                  <i class="material-icons-outlined is-size-6">
                    remove_circle_outline
                  </i>
                </a>
              </li>
              <li class="column">
                <div class="icon-text">
                  <span class="image is-rounded is-24x24">
                    <img src="@item.avatar" alt="AVT">
                  </span>
                  <span class="ml-2" style="flex-grow: 1;">@item.FullName</span>
                </div>
              </li>
              <li class="column is-narrow">
                <div class="dropdown is-hoverable is-right">
                  <div class="dropdown-trigger">
                    <a class="icon-text">
                      <span>Người thực hiện</span>
                      <span class="icon">
                        <i class="material-icons-outlined is-size-6">arrow_drop_down</i>
                      </span>
                    </a>
                  </div>
                  <div class="dropdown-menu">
                    <div class="dropdown-content">
                      <a class="dropdown-item">Quản lý kế hoạch</a>
                      <a class="dropdown-item">Người thực hiện</a>
                      <a class="dropdown-item">Người nhận xét</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          }
        </div>
      </div>
    </div>
  </li>
  <li class="column is-narrow" style="width: 80px;">
    <div class="dropdown is-hoverable is-fullwidth">
      <div class="dropdown-trigger">
        <a class="icon-text is-fullwidth pr-2">
          <span style="flex-grow: 1;">@status.name</span>
          <span class="icon is-small">
            <i class="material-icons-outlined is-size-6">arrow_drop_down</i>
          </span>
        </a>
      </div>
      <div class="dropdown-menu">
        <div class="dropdown-content">
          @foreach (var item in WorkService.Status())
          {
            <a class="dropdown-item" @onclick="() => model.status = item.id">@item.name</a>
          }
        </div>
      </div>
    </div>
  </li>
  <li class="column is-narrow has-text-centered" style="width: 30px;">
    <div class="dropdown is-hoverable is-right">
      <div class="dropdown-trigger">
        <span class="icon">
          <i class="material-icons-outlined is-size-6">more_horiz</i>
        </span>
      </div>
      <div class="dropdown-menu">
        <div class="dropdown-content">
          <a class="dropdown-item">Tạo Todolist liên kết</a>
          <a class="dropdown-item has-text-danger">Xóa công việc này</a>
        </div>
      </div>
    </div>
  </li>
</ul>

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }
  [Parameter]
  public WorkPlanModel.Task model { get; set; }

  private bool toggleLabel = false;
  private bool toggleMember = false;
  private DateTimeOffset? dateS = DateTime.Today;
  private DateTimeOffset? dateE = DateTime.Today.AddDays(10);
  private List<StaticModel> labels = new();

  protected override void OnParametersSet()
  {
    labels = LabelList(); 
  }

  private List<StaticModel> LabelsShort(List<StaticModel> list)
  {
    var results = new List<StaticModel>();

    if(list.Count > 2)
    {
      results = list.Take(2).ToList();
      results.Add(new () { name = $"+{list.Count - 2}", color = "#0F913D" });
    }

    return results;
  }

  private List<UserModel> MembersShort(List<UserModel> list)
  {
    var results = new List<UserModel>();

    if(list.Count > 2)
    {
      results = list.Take(2).ToList();
      results.Add(new () { last_name = $"+{list.Count - 2}" });
    }

    return results;
  }

  private List<StaticModel> LabelList()
  {
      var list = new List<StaticModel>();

      list.Add(new() { id = 1, name = "Nhân sự", color = "#8990A5" });
      list.Add(new() { id = 2, name = "Kế toán", color = "#6B8FE0" });
      list.Add(new() { id = 3, name = "Truyền thông", color = "#BCB51F" });
      list.Add(new() { id = 4, name = "Marketing", color = "#FF5449" });

      return list.OrderBy(x => Guid.NewGuid()).ToList();
  }
}
