@page "/work/{PlanId}/task"
@page "/work/{PlanId}/task/{TypeView}"
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<PageTitle>Danh sách công việc</PageTitle>

<section id="page_fwork" class="columns is-gapless has_menu_left @(url == "/work" ? "is_nav" : "is_data")">
  <div class="column is-narrow is_nav">
    <_PlanSidebar />
  </div>
  <div class="column is_data" style="padding-bottom: @(Layout.IsMobile ? "400px" : "0px") !important;">
    @if(model != null && string.IsNullOrEmpty(model.id))
    {
      <_PlanHeader model="model" />
    }
    else if(model != null)
    {
      <_PlanHeader model="model" />

      <div class="@(Layout.IsMobile ? "" : "card px-5 pt-5 pb-3") mt-4">
        @if(roleManager || roleMember)
        {
          <div id="plan_bubble">
            <a class="is-toggle" @onclick="ToogleAdd">
              <span class="icon">
                <i class="material-icons-outlined is-size-4">add</i>
              </span>
            </a>
            @if(toggleAdd)
            {  
              <div class="buttons">
                <a class="button is-small is-rounded is-success" @onclick="() => AddTask(null, null)">
                  <span class="icon">
                    <i class="material-icons-outlined is-size-6">add_task</i>
                  </span>
                  <span>Tạo công việc mới</span>
                </a>
                @if(roleManager)
                {
                  <a class="button is-small is-rounded is-info" style="background-color: #5b9dd2;" 
                    @onclick="() => EditSection(null)">
                    <span class="icon">
                      <i class="material-icons-outlined is-size-6">folder</i>
                    </span>
                    <span>Tạo nhóm công việc</span>
                  </a>
                }
              </div>
            }
          </div>
        }

        @if(Layout.IsMobile)
        {
          <div class="control has-icons-right mb-3">
            <input class="input is-small is-rounded is_bg" type="text" 
                placeholder="Tiêu đề công việc..." @onchange="FilterKeyword">
            <span class="icon is-right is-small">
              <i class="material-icons-outlined is-size-5">search</i>
            </span>
          </div>
          <ul class="columns is-vcentered is-variable is-1 mb-3 is-mobile scrollx-mobile">
            <li class="column is-narrow" style="width: 150px;">
              <div class="select is-small is-fullwidth">
                <select @onchange="(e) => FilterMember(e.Value.ToString())">
                  <option value="">Tất cả thành viên</option>
                  @foreach (var item in members)
                  {
                    <option value="@item.id">@item.FullName</option>
                  }
                </select>
              </div>
            </li>
            <li class="column is-narrow" style="width: 126px;">
              <div class="select is-small is-fullwidth">
                <select @onchange="(e) => FilterDeadline(Convert.ToInt32(e.Value))">
                  <option value="0">Thời hạn</option>
                  <option value="1">Sắp hết hạn</option>
                  <option value="2">Trễ hạn</option>
                </select>
              </div>
            </li>
            <li class="column is-narrow" style="width: 126px;">
              <div class="select is-small is-fullwidth">
                <select @onchange="(e) => FilterStatus(Convert.ToInt32(e.Value))">
                  <option value="0">Trạng thái</option>
                  @foreach (var item in WorkService.Status())
                  {
                    <option value="@item.id">@item.name</option>
                  }
                </select>
              </div>
            </li>
            <li class="column is-narrow" style="width: 126px;">
              <div class="select is-small is-fullwidth">
                <select @onchange="(e) => FilterPriority(Convert.ToInt32(e.Value))">
                  <option value="0">Độ ưu tiên</option>
                  @foreach (var item in WorkService.Priority())
                  {
                    <option value="@item.id">@item.name</option>
                  }
                </select>
              </div>
            </li>
            <li class="column is-narrow" style="width: 126px;">
              <div class="select is-small is-fullwidth">
                <select @onchange="(e) => FilterLabel(e.Value.ToString())">
                  <option value="">Nhãn dán</option>
                  @foreach (var item in model.labels)
                  {
                    <option value="@item.id">@item.name</option>
                  }
                </select>
              </div>
            </li>
          </ul>
        }
        else
        {
          <ul class="columns is-vcentered is-variable is-2 mb-3">
            <li class="column is-narrow">
              <div class="dropdown is-hoverable is-size-7">
                <div class="dropdown-trigger">
                  <a class="icon-text">
                    <span>Thành viên</span>
                    <span class="icon">
                      <i class="material-icons-outlined is-size-5">arrow_drop_down</i>
                    </span>
                  </a>
                </div>
                <div class="dropdown-menu">
                  <div class="dropdown-content">
                    <a class="dropdown-item @(filterMember == null ? "has-text-weight-semibold" : "")"
                      @onclick="() => FilterMember(null)">Tất cả thành viên</a>
                    @foreach (var item in members)
                    {
                      <a class="dropdown-item py-0 @(filterMember == item.id ? "has-text-weight-semibold" : "")"
                        @onclick="() => FilterMember(item.id)">
                        <div class="icon-text">
                          <span class="icon image is-rounded is-16x16 mr-2">
                            <img src="@item.avatar" alt="IMG">
                          </span>
                          <span>@item.FullName</span>
                        </div>
                      </a>
                    }
                  </div>
                </div>
              </div>
            </li>
            <li class="column is-narrow">
              <div class="dropdown is-hoverable is-size-7">
                <div class="dropdown-trigger">
                  <a class="icon-text">
                    <span>Thời hạn</span>
                    <span class="icon">
                      <i class="material-icons-outlined is-size-5">arrow_drop_down</i>
                    </span>
                  </a>
                </div>
                <div class="dropdown-menu">
                  <div class="dropdown-content">
                    <a class="dropdown-item @(filterDeadline == 0 ? "has-text-weight-semibold" : "")" @onclick="() => FilterDeadline(0)">
                      Tất cả
                    </a>
                    <a class="dropdown-item @(filterDeadline == 1 ? "has-text-weight-semibold" : "")" @onclick="() => FilterDeadline(1)">
                      Sắp hết hạn
                    </a>
                    <a class="dropdown-item @(filterDeadline == 2 ? "has-text-weight-semibold" : "")" @onclick="() => FilterDeadline(2)">
                      Trễ hạn 
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="column is-narrow" style="width: 105px;">
              <div class="dropdown is-hoverable is-size-7">
                <div class="dropdown-trigger">
                  <a class="icon-text">
                    <span>@(filterStatus != 0 ? WorkService.Status(filterStatus).name : "Trạng thái")</span>
                    <span class="icon">
                      <i class="material-icons-outlined is-size-5">arrow_drop_down</i>
                    </span>
                  </a>
                </div>
                <div class="dropdown-menu">
                  <div class="dropdown-content">
                    <a class="dropdown-item @(filterStatus == 0 ? "has-text-weight-semibold" : "")"
                      @onclick="() => FilterStatus(0)">Tất cả</a>
                    @foreach (var item in WorkService.Status())
                    {
                      <a class="dropdown-item @(filterStatus == item.id ? "has-text-weight-semibold" : "")"
                        @onclick="() => FilterStatus(item.id)">@item.name</a>
                    }
                  </div>
                </div>
              </div>
            </li>
            <li class="column is-narrow" style="width: 110px;">
              <div class="dropdown is-hoverable is-size-7">
                <div class="dropdown-trigger">
                  <a class="icon-text">
                    <span>@(filterPriority != 0 ? WorkService.Priority(filterPriority).name : "Độ ưu tiên")</span>
                    <span class="icon">
                      <i class="material-icons-outlined is-size-5">arrow_drop_down</i>
                    </span>
                  </a>
                </div>
                <div class="dropdown-menu">
                  <div class="dropdown-content">
                    <a class="dropdown-item @(filterPriority == 0 ? "has-text-weight-semibold" : "")"
                      @onclick="() => FilterPriority(0)">Tất cả</a>
                    @foreach (var item in WorkService.Priority())
                    {
                      <a class="dropdown-item @(filterPriority == item.id ? "has-text-weight-semibold" : "")"
                        style="color: @item.color;" @onclick="() => FilterPriority(item.id)">@item.name</a>
                    }
                  </div>
                </div>
              </div>
            </li>
            <li class="column is-narrow">
              <div class="dropdown is-hoverable  is-size-7">
                <div class="dropdown-trigger">
                  <a class="icon-text">
                    <span>Nhãn dán</span>
                    <span class="icon">
                      <i class="material-icons-outlined is-size-5">arrow_drop_down</i>
                    </span>
                  </a>
                </div>
                <div class="dropdown-menu">
                  <div class="dropdown-content">
                    <a class="dropdown-item @(filterLabel == null ? "has-text-weight-semibold" : "")"
                      @onclick="() => FilterLabel(null)">Tất cả</a>
                    @foreach (var item in model.labels)
                    {
                      <a class="dropdown-item @(filterLabel == item.id ? "has-text-weight-semibold" : "")" 
                        style="color: @item.color;" @onclick="() => FilterLabel(item.id)">@item.name</a>
                    }
                  </div>
                </div>
              </div>
            </li>
            <li class="column is-narrow" style="width: 110px;">
              <DateRangePicker @bind-StartDate="filterDateS" @bind-EndDate="filterDateE" OnRangeSelect="FilterDate"
                Opens="SideType.Right">
                <PickerTemplate>
                  <a id="@context.Id" @onclick="context.Toggle" class="icon-text is-size-7">
                    <span class="icon is-small mr-1">
                      <i class="material-icons-outlined">calendar_today</i>
                    </span>
                    @if (context.TStartDate != null && context.TEndDate != null)
                    {
                      <span>@context.TStartDate.Value.ToString("dd/MM")</span>
                      <span class="px-1">-</span>
                      <span>@context.TEndDate.Value.ToString("dd/MM")</span>
                    }
                    else
                    {
                      <span>Thời gian</span>
                    }
                  </a>
                </PickerTemplate>
              </DateRangePicker>
            </li>
            <li class="column">
              <div class="control has-icons-right">
                <input class="input is-small is-rounded" type="text" 
                  placeholder="Tiêu đề công việc..." @onchange="FilterKeyword">
                <span class="icon is-right is-small">
                  <i class="material-icons-outlined is-size-5">search</i>
                </span>
              </div>
            </li>
          </ul>
        }

        @if(Layout.IsMobile)
        {
          @foreach (var item in model.sections)
          {
            var hidden = hideSections.Contains(item.id);
            var tasks = taskGroups.ContainsKey(item.id) ? taskGroups[item.id] : new();
            var count = tasks.Where(x => !string.IsNullOrEmpty(x.id)).Count();

            @if(editSectionId == item.id)
            {
              <div class="control has-icons-left mt-3 mb-2">
                <input @bind="item.name" id="section_@item.id" type="text" 
                  class="input has-text-weight-semibold font_14 is_bg" placeholder="Nhập tiêu đề nhóm công việc...">
                <a class="icon is-left has-text-success" title="Cập nhật" @onclick="UpdateSection">
                  <i class="material-icons-outlined is-size-5">done</i>
                </a>
              </div>
            }
            else
            {
              <ul class="columns is-vcentered is-variable is-1 is-mobile has-text-centered mt-3">
                <li class="column is-1">
                  <a class="icon is-small has-text-dark mr-2" @onclick="() => ToggleSection(item.id)">
                    <i class="material-icons-outlined is-size-5">@(hidden ? "arrow_right" : "arrow_drop_down")</i>
                  </a>
                </li>
                <li class="column is-9 has-text-left">
                  <span class="has-text-weight-semibold font_14">
                    @item.name @(count > 0 ? $"({count})" : "")
                  </span>
                </li>
                <li class="column is-1">
                  @if(roleMember)
                  {
                    <a class="icon is-small has-text-dark" title="Thêm công việc" @onclick="() => AddTask(null, item.id)">
                      <i class="material-icons-round is-size-6">add</i>
                    </a>
                  }
                </li>
                <li class="column is-1">
                  @if(roleManager)
                  {
                    <div class="dropdown is-right @(item.id == moreSectionId ? "is-active" : "")">
                      <div class="dropdown-trigger">
                        <a class="icon is-small has-text-dark" @onclick="() => MoreSection(item.id)">
                          <i class="material-icons-outlined is-size-6">more_horiz</i>
                        </a>
                      </div>
                      <div class="dropdown-menu is-size-7">
                        <div class="dropdown-content">
                          <a class="dropdown-item icon-text" @onclick="() => MoveSection(item, true)">
                            <span class="icon is-small">
                              <i class="material-icons-outlined is-size-6">arrow_upward</i>
                            </span>
                            <span>Lên trên</span>
                          </a>
                          <a class="dropdown-item icon-text" @onclick="() => MoveSection(item, false)">
                            <span class="icon is-small">
                              <i class="material-icons-outlined is-size-6">arrow_downward</i>
                            </span>
                            <span>Xuống dưới</span>
                          </a>
                          <a class="dropdown-item icon-text" @onclick="() => EditSection(item)">
                            <span class="icon is-small">
                              <i class="material-icons-outlined is-size-6">edit</i>
                            </span>
                            <span>Chỉnh sửa</span>
                          </a>
                          <a class="dropdown-item icon-text has-text-danger" @onclick="() => DeleteSection(item)">
                            <span class="icon is-small">
                              <i class="material-icons-outlined is-size-6">delete</i>
                            </span>
                            <span>Xóa</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  } 
                </li>
              </ul>
            }
            @if(!hidden)
            {
              foreach (var context in tasks)
              {
                if(context.id == null)
                {
                  <div class="pl-4 py-1">
                    @if(roleMember)
                    {
                      <a class="icon-text has-text-link" @onclick="() => AddTask(null, item.id)">
                        <span class="icon">
                          <i class="material-icons-outlined is-size-6">add</i>
                        </span>
                        <span class="is-size-7">Thêm công việc</span>
                      </a>
                    }
                    else 
                    {
                      <span class="is-size-7">Không có công việc</span>
                    }
                  </div>
                }
                else
                {
                  var editTask = WorkService.RoleEditTask(model, context, Layout.User.id);
                  <_TaskMobileItem model="context" plan="model" editRole="editTask"
                    members="members" toggleList="toggleList" OnToggle="OnToggle"
                    OnEdit="OnEditList" OnUpdate="OnUpdateList" OnAddSub="OnSubTasks" OnTodolist="OnTodolist" />
                }
              }
            }
          }
        }
        else if(TypeView == "list")
        {
          <div class="scrolly" style="height: calc(100vh - 240px); padding-bottom: 300px;">
            <ul class="task_list columns is-gapless is-size-7 has-text-grey"
                style="position: sticky;top: 0px;background: #fff;z-index: 3;">
              <li class="column" style="width: calc(100% - 630px);">Công việc</li>
              <li class="column is-narrow" style="width: 130px;">Thời hạn</li>
              <li class="column is-narrow" style="width: 130px;">Mức độ ưu tiên</li>
              <li class="column is-narrow" style="width: 110px;">Thành viên</li>
              <li class="column is-narrow" style="width: 80px;">Trạng thái</li>
              <li class="column is-narrow" style="width: 30px;"></li>
            </ul>
            @foreach (var item in model.sections)
            {
              var hidden = hideSections.Contains(item.id);
              var tasks = taskGroups.ContainsKey(item.id) ? taskGroups[item.id] : new();
              var count = tasks.Where(x => !string.IsNullOrEmpty(x.id)).Count();
              <ul class="task_list columns is-gapless is-size-7">
                <li class="column is-full">
                  @if(editSectionId == item.id)
                  {
                    <form class="control has-icons-left" style="width: 300px;" @onsubmit="UpdateSection">
                      <input @bind="item.name" class="input has-text-weight-semibold font_14 is_bg"
                        id="section_@item.id" type="text"  placeholder="Nhập tiêu đề nhóm công việc...">
                      <a class="icon is-left has-text-success" title="Cập nhật" @onclick="UpdateSection">
                        <i class="material-icons-outlined is-size-5">done</i>
                      </a>
                    </form>
                  }
                  else
                  {
                    <div class="icon-text">
                      <a class="icon is-small has-text-dark mr-2" @onclick="() => ToggleSection(item.id)">
                        <i class="material-icons-outlined is-size-5">@(hidden ? "arrow_right" : "arrow_drop_down")</i>
                      </a>
                      <span class="has-text-weight-semibold font_14" title="@item.name">
                        @item.name @(count > 0 ? $"({count})" : "")
                      </span>
                      @if(roleMember)
                      {
                        <a class="icon has-text-dark is_hover" title="Thêm công việc"
                          @onclick="() => AddTask(null, item.id)">
                          <i class="material-icons-round is-size-6">add</i>
                        </a>
                      }
                      @if(roleManager)
                      {
                        <div class="dropdown is-right icon is_hover @(item.id == moreSectionId ? "is-active" : "")">
                          <div class="dropdown-trigger">
                            <a class="icon has-text-dark" @onclick="() => MoreSection(item.id)">
                              <i class="material-icons-outlined is-size-6">more_horiz</i>
                            </a>
                          </div>
                          <div class="dropdown-menu">
                            <div class="dropdown-content">
                              <a class="dropdown-item icon-text" @onclick="() => MoveSection(item, true)">
                                <span class="icon">
                                  <i class="material-icons-outlined is-size-6">arrow_upward</i>
                                </span>
                                <span>Lên trên</span>
                              </a>
                              <a class="dropdown-item icon-text" @onclick="() => MoveSection(item, false)">
                                <span class="icon">
                                  <i class="material-icons-outlined is-size-6">arrow_downward</i>
                                </span>
                                <span>Xuống dưới</span>
                              </a>
                              <a class="dropdown-item icon-text" @onclick="() => EditSection(item)">
                                <span class="icon">
                                  <i class="material-icons-outlined is-size-6">edit</i>
                                </span>
                                <span>Chỉnh sửa</span>
                              </a>
                              <a class="dropdown-item icon-text has-text-danger" @onclick="() => DeleteSection(item)">
                                <span class="icon">
                                  <i class="material-icons-outlined is-size-6">delete</i>
                                </span>
                                <span>Xóa</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      }
                    </div>
                  }
                </li>
              </ul>
              @if(!hidden)
              {
                <Dropzone Items="tasks" TItem="WorkPlanModel.Task" Class="drop_task_list" 
                  AllowsDrag="x => x.id != null" OnItemDrop="x => OnItemDragdrop(x)" InstantReplace="true">
                  @if(context.id == null)
                  {
                    <div class="pl-4 py-1">
                      @if(roleMember)
                      {
                        <a class="icon-text has-text-link" @onclick="() => AddTask(null, item.id)">
                          <span class="icon">
                            <i class="material-icons-outlined is-size-6">add</i>
                          </span>
                          <span class="is-size-7">Thêm công việc</span>
                        </a>
                      }
                      else 
                      {
                        <span class="is-size-7">Không có công việc</span>
                      }
                    </div>
                  }
                  else
                  {
                    var editTask = WorkService.RoleEditTask(model, context, Layout.User.id);
                    <_TaskListItem model="context" plan="model" editRole="editTask"
                      members="members" toggleList="toggleList" OnToggle="OnToggle"
                      OnEdit="OnEditList" OnUpdate="OnUpdateList" OnAddSub="OnSubTasks" OnTodolist="OnTodolist" />
                  }
                </Dropzone>
              }
            }
          </div>
        }
        else if(TypeView == "board")
        {
          <div class="scrollx">
            <ul class="columns is-gapless">
              @foreach (var item in model.sections)
              {
                var tasks = taskGroups.ContainsKey(item.id) ? taskGroups[item.id] : new();
                var count = tasks.Where(x => !string.IsNullOrEmpty(x.id)).Count();

                <li class="column is-narrow mr-3" style="width: 350px;">
                  @if(editSectionId == item.id)
                  {
                    <form class="control has-icons-left" @onsubmit="UpdateSection">
                      <input @bind="item.name" class="input has-text-weight-semibold font_14 is_bg"
                        id="section_@item.id" type="text" placeholder="Nhập tiêu đề nhóm công việc...">
                      <a class="icon is-left has-text-success" title="Cập nhật" @onclick="UpdateSection">
                        <i class="material-icons-outlined is-size-5">done</i>
                      </a>
                    </form>
                  }
                  else
                  {
                    <div class="icon-text py-2 pl-2">
                      <span class="has-text-weight-semibold font_14" title="@item.name">
                        @item.name @(count > 0 ? $"({count})" : "")
                      </span>
                      @if(roleMember)
                      {
                        <a class="icon has-text-dark is_hover" title="Thêm công việc"
                          @onclick="() => AddTask(null, item.id)">
                          <i class="material-icons-round is-size-6">add</i>
                        </a>
                      }
                      @if(roleManager)
                      {
                        <div class="dropdown is-right icon is_hover @(item.id == moreSectionId ? "is-active" : "")">
                          <div class="dropdown-trigger">
                            <a class="icon has-text-dark" @onclick="() => MoreSection(item.id)">
                              <i class="material-icons-outlined is-size-6">more_horiz</i>
                            </a>
                          </div>
                          <div class="dropdown-menu is-size-7">
                            <div class="dropdown-content">
                              <a class="dropdown-item icon-text" @onclick="() => MoveSection(item, true)">
                                <span class="icon">
                                  <i class="material-icons-outlined is-size-6">arrow_back</i>
                                </span>
                                <span>Qua trái</span>
                              </a>
                              <a class="dropdown-item icon-text" @onclick="() => MoveSection(item, false)">
                                <span class="icon">
                                  <i class="material-icons-outlined is-size-6">arrow_forward</i>
                                </span>
                                <span>Qua phải</span>
                              </a>
                              <a class="dropdown-item icon-text" @onclick="() => EditSection(item)">
                                <span class="icon">
                                  <i class="material-icons-outlined is-size-6">edit</i>
                                </span>
                                <span>Chỉnh sửa</span>
                              </a>
                              <a class="dropdown-item icon-text has-text-danger" @onclick="() => DeleteSection(item)">
                                <span class="icon">
                                  <i class="material-icons-outlined is-size-6">delete</i>
                                </span>
                                <span>Xóa</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      }
                    </div>
                  }
                  <div class="scrolly p-2"
                    style="height: calc(100vh - 285px); background: #fbfbfb; border-radius: 5px;">
                    <Dropzone Items="tasks" TItem="WorkPlanModel.Task" Class="drop_task_board"
                      AllowsDrag="x => x.id != null" OnItemDrop="x => OnItemDragdrop(x)" InstantReplace="true">
                      @if(context.id == null)
                      {
                        <div class="has-text-centered p-3">
                          @if(roleMember)
                          {  
                            <a class="icon-text has-text-link" @onclick="() => AddTask(null, item.id)">
                              <span class="icon">
                                <i class="material-icons-outlined is-size-6">add</i>
                              </span>
                              <span class="is-size-7">Thêm công việc</span>
                            </a>
                          }
                          else
                          {
                            <span class="is-size-7">Không có công việc</span>
                          }
                        </div>
                      }
                      else
                      {
                        var editTask = WorkService.RoleEditTask(model, context, Layout.User.id);
                        <_TaskCardItem model="context" plan="model" editRole="editTask"
                          members="members" toggleList="toggleList" OnToggle="OnToggle"
                          OnEdit="OnEditList" OnUpdate="OnUpdateList" OnAddSub="OnSubTasks" OnTodolist="OnTodolist" />
                      }
                    </Dropzone>
                  </div>
                </li> 
              }
            </ul>
          </div>
        }
        else
        {
          var dayHtml = string.Empty;
          <div id="scrollbox" class="list_task_gantt is-size-7">
            <ul class="task_gantt is_month columns is-gapless is-vcentered">
              <li class="column is-narrow"></li>
              @for (int d = 0; d < dayTotal; d++)
              {
                var day = dayStart.AddDays(d);
                var month = Shared.DateToMonth(day);
                var column = month.AddMonths(1).Subtract(day).Days;
                if(month.AddMonths(1) > dayEnd)
                  column = dayEnd.Subtract(day).Days;
                @if(day <= month.AddMonths(1) && day <= dayEnd)
                {
                  d += column - 1;
                  <li class="column is-narrow" style="width: @(column * 40)px">
                    <div class="has-text-weight-medium has-text-info pl-1 font_14">
                      @month.ToString("MM/yyyy")
                    </div>
                  </li>
                }
              }
            </ul>
            <ul class="task_gantt is_header columns is-gapless is-vcentered">
              <li class="column is-narrow">
                Công việc
              </li>
              @for (int d = 0; d < dayTotal; d++)
              {
                var day = dayStart.AddDays(d);
                var today = day == DateTime.Today ? "is_today" : "";
                var sunday = day.DayOfWeek == DayOfWeek.Sunday ? "is_sun" : "";
                dayHtml += $"<li class=\"column is-narrow {today} {sunday}\"></li>";

                <li class="column is-narrow @today @sunday">
                  <span class="pl-1" style="color: #C0C6DC;">@day.ToString("ddd").Substring(0, 1)</span>
                  <span class="pr-1">@day.ToString("dd")</span>
                </li>
              }
            </ul>

            @foreach (var item in model.sections)
            {
              var hidden = hideSections.Contains(item.id);
              var tasks = taskGroups.ContainsKey(item.id) ? taskGroups[item.id] : new();
              var count = tasks.Where(x => !string.IsNullOrEmpty(x.id)).Count();
              
              <ul class="task_gantt columns is-gapless is-size-7">
                <li class="column is-narrow">
                  @if(editSectionId == item.id)
                  {
                    <div class="control has-icons-left" style="width: 100%;">
                      <input @bind="item.name" id="section_@item.id" type="text" 
                        class="input is-small has-text-weight-semibold font_14 is_bg" placeholder="Nhập tiêu đề nhóm công việc...">
                      <a class="icon is-left has-text-success" title="Cập nhật" @onclick="UpdateSection">
                        <i class="material-icons-outlined is-size-5">done</i>
                      </a>
                    </div>
                  }
                  else
                  {
                    <div class="icon-text">
                      <a class="icon is-small has-text-dark mr-2" @onclick="() => ToggleSection(item.id)">
                        <i class="material-icons-outlined is-size-5">@(hidden ? "arrow_right" : "arrow_drop_down")</i>
                      </a>
                      <span class="has-text-weight-semibold font_14" title="@item.name">
                        @item.name @(count > 0 ? $"({count})" : "")
                      </span>
                      @if(roleMember)
                      {
                        <a class="icon has-text-dark is_hover" title="Thêm công việc" @onclick="() => AddTask(null, item.id)">
                          <i class="material-icons-round is-size-6">add</i>
                        </a>
                      }
                      @if(roleManager)
                      {
                        <div class="dropdown is-right icon is_hover @(item.id == moreSectionId ? "is-active" : "")">
                          <div class="dropdown-trigger">
                            <a class="icon has-text-dark" @onclick="() => MoreSection(item.id)">
                              <i class="material-icons-outlined is-size-6">more_horiz</i>
                            </a>
                          </div>
                          <div class="dropdown-menu">
                            <div class="dropdown-content">
                              <a class="dropdown-item icon-text" @onclick="() => MoveSection(item, true)">
                                <span class="icon">
                                  <i class="material-icons-outlined is-size-6">arrow_upward</i>
                                </span>
                                <span>Lên trên</span>
                              </a>
                              <a class="dropdown-item icon-text" @onclick="() => MoveSection(item, false)">
                                <span class="icon">
                                  <i class="material-icons-outlined is-size-6">arrow_downward</i>
                                </span>
                                <span>Xuống dưới</span>
                              </a>
                              <a class="dropdown-item icon-text" @onclick="() => EditSection(item)">
                                <span class="icon">
                                  <i class="material-icons-outlined is-size-6">edit</i>
                                </span>
                                <span>Chỉnh sửa</span>
                              </a>
                              <a class="dropdown-item icon-text has-text-danger" @onclick="() => DeleteSection(item)">
                                <span class="icon">
                                  <i class="material-icons-outlined is-size-6">delete</i>
                                </span>
                                <span>Xóa</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      }
                    </div>
                  }
                </li>
                @for (int d = 0; d < dayTotal; d++)
                {
                  var day = dayStart.AddDays(d);
                  var today = day == DateTime.Today ? "is_today" : "";
                  var sunday = day.DayOfWeek == DayOfWeek.Sunday ? "is_sun" : "";

                  <li class="column is-narrow @today @sunday"></li>
                }
              </ul>

              @if(!hidden)
              {
                <Dropzone Items="tasks" TItem="WorkPlanModel.Task" Class="drop_task_list"
                  AllowsDrag="x => x.status < 0" OnItemDrop="x => OnItemDragdrop(x)" InstantReplace="true">
                  @if(context.id == null)
                  {
                    <ul class="task_gantt columns is-gapless is-size-7">
                      <li class="column is-narrow">
                        <div class="pl-4 py-1">
                          @if(roleMember)
                          {
                            <a class="icon-text has-text-link" @onclick="() => AddTask(null, item.id)">
                              <span class="icon">
                                <i class="material-icons-outlined is-size-6">add</i>
                              </span>
                              <span class="is-size-7">Thêm công việc</span>
                            </a>
                          }
                          else
                          {
                            <span class="is-size-7">Không có công việc</span>
                          }
                        </div>
                      </li>
                      @((MarkupString)dayHtml)
                    </ul>
                  }
                  else
                  {
                    var editTask = WorkService.RoleEditTask(model, context, Layout.User.id);
                    <_TaskGanttItem model="context" plan="model" editRole="editTask"
                      members="members" toggleList="toggleList" OnToggle="OnToggle"
                      dayStart="dayStart" dayTotal="dayTotal" dayHtml="@dayHtml"
                      OnEdit="OnEditList" OnUpdate="OnUpdateList" OnAddSub="OnSubTasks" OnTodolist="OnTodolist" />
                  }
                </Dropzone>
              }
            }

            <ul class="task_gantt is_footer columns is-gapless is-vcentered">
              <li class="column is-narrow"></li>
              @((MarkupString)dayHtml)
            </ul>
          </div>
        }
      </div>
    }
    else 
    {
      <div class="card p-6 has-text-centered">
        Không tìm thấy kế hoạch
      </div> 
    }
  </div>
</section>

<_TaskPopup plan="model" task="editTask" members="members" tab="editTab" 
  subTasks="subTasks" todoItems="todoItems" comments="comments" OnUpdate="OnUpdateTask" />

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }
  [Parameter]
  public string PlanId { get; set; }
  [Parameter]
  public string TypeView { get; set; }

  private string url = string.Empty;
  private WorkPlanModel model = new();
  private Dictionary<string, List<WorkPlanModel.Task>> taskGroups = new();
  private List<WorkPlanModel.Task> taskList = new();
  private List<string> toggleList = new();
  private List<UserModel> members = new();
  private bool roleManager = false;
  private bool roleMember = false;
  private bool toggleAdd = true;
  private int dayTotal = 0;
  private DateTime dayStart = DateTime.Today;
  private DateTime dayEnd = DateTime.Today;

  protected override void OnInitialized()
  {
    // Auto update realtime
    MessagingCenter.Subscribe<_TaskPopup, string>(this, "plan_" + PlanId, async (sender, value) =>
    {
      if(PlanId == value)
      {
        await GetTaskList();
        await InvokeAsync(StateHasChanged);
      }
    });
    MessagingCenter.Subscribe<PlanTask, string>(this, "plan_" + PlanId, async (sender, value) =>
    {
      if(PlanId == value)
      {
        await GetTaskList();
        await InvokeAsync(StateHasChanged);
      }
    });
  }

  protected override async Task OnParametersSetAsync()
  {
    url = navigation.Uri.Replace(navigation.BaseUri, "/");

    model = await DbWorkPlan.Get(Layout.Company.id, PlanId);
    if(model != null)
    {
      if(RoleView())
      {
        // Chế độ xem
        if(string.IsNullOrEmpty(TypeView))
          TypeView = "list";
        // Quyền trong kế hoạch
        var role = WorkService.RoleInPlan(model, Layout.User.id);
        roleManager = role == 1;
        roleMember = role > 0;
        // Danh sách thành viên
        members = GetMembers();
        // Lấy dữ liệu công việc
        await GetTaskList();
        // Cập nhật thống kê
        await DbWorkReport.Update(Layout.Company.id, PlanId);
        // Tự động mở popup
        await OpenTaskPopup();
        // Đóng tất cả công việc
        toggleList.Clear();
      }
      else
      {
        model.id = string.Empty;
        model.detail = "Bạn không có quyền xem chi tiết kế hoạch này!";
      }
    }
  }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      if(TypeView == "gantt")
        await JSRuntime.InvokeVoidAsync("dragScrollX");

      var cookieToggleAdd = await JSRuntime.InvokeAsync<string>("getCookie", "_fwork_add");
      if (!string.IsNullOrEmpty(cookieToggleAdd))
        toggleAdd = Convert.ToBoolean(cookieToggleAdd);
      
      StateHasChanged();
    }
  }

  private async Task ToogleAdd()
  {
    toggleAdd = !toggleAdd;
    await JSRuntime.InvokeVoidAsync("setCookie", "_fwork_add", toggleAdd);
  }

  private async Task OpenTaskPopup()
  {
    int tab = 1;
    var taskId = string.Empty;
    var uri = navigation.ToAbsoluteUri(navigation.Uri);
    if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("task", out var outTask))
      taskId = outTask.ToString();
    if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("tab", out var outTab))
      tab = Convert.ToInt32(outTab);

    if(!string.IsNullOrEmpty(taskId))
    {
      editTab = tab;
      await EditTask(taskId);
    }
  }

  private bool RoleView()
  {
    // Kiểm tra quyền xem kế hoạch
    if(WorkService.ViewInPlan(model, Layout.User.id))
      return true;
    // Kiểm tra theo quyền cấp trên có cấp dưới tham gia
    var departmentAll = DbDepartment.GetAll(Layout.Company.id);
    foreach (var member in model.members)
    {
      var staff = Layout.UserList.FirstOrDefault(x => x.id == member.id);
      if(staff != null && DbDepartment.CheckManagerRole(Layout.Company.id, staff, Layout.User.id, departmentAll))
        return true;
    }

    return false;
  }

  private List<UserModel> GetMembers()
  {
    var listId = model.members.Select(x => x.id).ToList();
    return Layout.UserList.Where(x => listId.Contains(x.id)).ToList();
  }

  #region Bộ lọc và lấy dữ liệu
  
  private int filterStatus = 0;
  private int filterPriority = 0;
  private int filterDeadline = 0;
  private string filterMember = null;
  private string filterLabel = null;
  private string filterKey = null;
  private DateTimeOffset? filterDateS = null;
  private DateTimeOffset? filterDateE = null;

  private async Task GetTaskList()
  {
    // Lấy danh sách công việc chính
    taskList = await DbWorkTask.GetListInPlan(Layout.Company.id, model.id);

    // Bộ lọc tìm kiếm
    FilterTaskList();

    // Chia nhóm công việc
    SplitTaskList();
    
    // Lấy ngày thấp nhỏ nhất
    if(taskList.Count > 0 && TypeView == "gantt")
    {
      long minDay = taskList.OrderBy(x => x.date_start).Select(x => x.date_start).FirstOrDefault();
      long maxDay = taskList.OrderByDescending(x => x.date_end).Select(x => x.date_end).FirstOrDefault();
      dayStart = Shared.DateToDay(new DateTime(minDay)).AddDays(-4);
      dayEnd = Shared.DateToDay(new DateTime(maxDay)).AddDays(9);
      dayTotal = dayEnd.Subtract(dayStart).Days;
      // Tự scroll đến ngày hôm nay
      if(dayStart <= DateTime.Today && DateTime.Today <= dayEnd)
      {
        int today = DateTime.Today.Subtract(dayStart).Days;
        await JSRuntime.InvokeVoidAsync("scrollGantt", today * 40 - 160);
      }
    }
  }

  private void FilterTaskList()
  {
    // Lọc theo thời hạn
    if(filterDeadline == 1) // Sắp hết hạn
      taskList = taskList.Where(x => WorkService.CheckDeadline(x) == 1).ToList();
    else if(filterDeadline == 2) // Trễ hạn
      taskList = taskList.Where(x => WorkService.CheckDeadline(x) == 2).ToList();

    // Lọc theo thời gian thực hiện công việc
    if(filterDateS != null && filterDateE != null)
    {
      var start = filterDateS.Value.Ticks;
      var end = filterDateE.Value.Ticks;
      taskList = (from x in taskList
                  where (x.date_start >= start && x.date_end <= end)
                  || (x.date_start <= start && x.date_end >= start)
                  || (x.date_end >= end && x.date_start <= end)
                  select x).ToList();
    }

    // Lọc theo trạng thái
    if(filterStatus != 0)
      taskList = taskList.Where(x => x.status == filterStatus).ToList();

    // Lọc theo độ ưu tiên
    if(filterPriority != 0)
      taskList = taskList.Where(x => x.priority == filterPriority).ToList();

    // Lọc theo nhãn dán
    if(!string.IsNullOrEmpty(filterLabel))
      taskList = taskList.Where(x => x.labels.Contains(filterLabel)).ToList();

    // Lọc theo từ khóa
    if(!string.IsNullOrEmpty(filterKey))
      taskList = taskList.Where(x => Shared.SearchKeyword(filterKey, x.name)).ToList();

    // Lọc theo thành viên
    if(!string.IsNullOrEmpty(filterMember))
      taskList = taskList.Where(x => x.members.Where(x => x.id == filterMember).Count() > 0).ToList();
  }

  private void SplitTaskList()
  {
    taskGroups.Clear();
    taskList = (from x in taskList orderby x.pos, x.date_end select x).ToList();
    foreach (var group in model.sections)
    {
      var tasks = taskList.Where(x => x.section_id == group.id).ToList();
      if(tasks.Count == 0)
        tasks = new() { new() { name = "Chưa có công việc", section_id = group.id }};
      taskGroups.Add(group.id, tasks);
    }
  }
  
  private async Task FilterDeadline(int value)
  {
    filterDeadline= value;
    await GetTaskList();
  }

  private async Task FilterStatus(int value)
  {
    filterStatus = value;
    await GetTaskList();
  }

  private async Task FilterPriority(int value)
  {
    filterPriority = value;
    await GetTaskList();
  }

  private async Task FilterMember(string value)
  {
    filterMember = value;
    await GetTaskList();
  }

  private async Task FilterLabel(string value)
  {
    filterLabel = value;
    await GetTaskList();
  }

  private async Task FilterDate(DateRange range)
  {
    await GetTaskList();
  }

  private async Task FilterKeyword(ChangeEventArgs e)
  {
    filterKey = e.Value.ToString();
    await GetTaskList();
  }

  #endregion

  #region Nhóm công việc

  private string editSectionId = string.Empty;
  private string moreSectionId = string.Empty;
  private List<string> hideSections = new();
 
  private void ToggleSection(string id)
  {
    if(hideSections.Contains(id))
      hideSections.Remove(id);
    else
      hideSections.Add(id);
  }

  private void MoreSection(string id)
  {
    if(moreSectionId == id)
      moreSectionId = string.Empty;
    else
      moreSectionId = id;
  }

  private async Task EditSection(WorkPlanModel.Section item)
  {
    moreSectionId = string.Empty;
    if(string.IsNullOrEmpty(editSectionId))
    {
      if(item == null)
      {
        item = new() {
          id = Mongo.RandomId()
        };
        model.sections.Insert(0, item);
      }
      editSectionId = item.id;
      await JSRuntime.InvokeVoidAsync("setFocus", "section_" + item.id);
    }
    else
      await JSRuntime.InvokeVoidAsync("tagline", false, "Có nhóm công việc đang được chỉnh sửa!");
  }

  private async Task DeleteSection(WorkPlanModel.Section item)
  {
    moreSectionId = string.Empty;
    if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Bạn đang thực hiện xóa nhóm công việc {item.name}. Việc này sẽ khiến dữ liệu công việc trong nhóm bị mất.\nBạn có chắc chắn muốn thực hiện?"))
      return;
    // Thông báo chuông
    foreach (var user in model.members)
        await DbNotify.ForPlan(Layout.Company.id, 704, model.id, item.id, user.id, Layout.User.id);
    // Hàm tự động xóa
    if(await WorkService.DeleteSection(Layout.Company.id, model.id, item.id))
    {
      model = await DbWorkPlan.Get(Layout.Company.id, PlanId);
      await JSRuntime.InvokeVoidAsync("tagline", true, "Đã xóa nhóm công việc thành công!");
      await WorkService.CreateLog(Layout.Company.id, "Xóa nhóm công việc", item.name, model.id, null, Layout.User);
      await GetTaskList();
    }
    else
      await JSRuntime.InvokeVoidAsync("tagline", false, "Không thành công, vui lòng thử lại!");
  }

  private async Task UpdateSection()
  {
    if(model.sections.Where(x => Shared.IsEmpty(x.name)).Count() == 0)
    {
      var item = model.sections.SingleOrDefault(x => x.id == editSectionId);
      if(item != null)
      {
        if(item.pos == 0)
        {
          item.pos = model.sections.Count;
          await DbWorkPlan.Update(Layout.Company.id, model);
          await JSRuntime.InvokeVoidAsync("tagline", true, "Đã thêm nhóm công việc!");
          await WorkService.CreateLog(Layout.Company.id, "Thêm nhóm công việc", item.name, model.id, null, Layout.User);
          // Thông báo chuông
          foreach (var user in model.members)
              await DbNotify.ForPlan(Layout.Company.id, 702, model.id, item.id, user.id, Layout.User.id);
        }
        else
        {
          await JSRuntime.InvokeVoidAsync("tagline", true, "Đã cập nhật nhóm công việc!");
          await WorkService.CreateLog(Layout.Company.id, "Cập nhật nhóm công việc", item.name, model.id, null, Layout.User);
          // Thông báo chuông
          foreach (var user in model.members)
              await DbNotify.ForPlan(Layout.Company.id, 703, model.id, item.id, user.id, Layout.User.id);
          await DbWorkPlan.Update(Layout.Company.id, model);
        }
        editSectionId = string.Empty;
        SplitTaskList();
      }
      else
        await JSRuntime.InvokeVoidAsync("tagline", false, "Có lỗi khi cập nhật nhóm công việc!");
    }
    else
      await JSRuntime.InvokeVoidAsync("tagline", false, "Bạn chưa nhập tiêu đề nhóm công việc!");
  }
  
  private async Task MoveSection(WorkPlanModel.Section item, bool isUp)
  {
    moreSectionId = string.Empty;
    if(isUp)
    {
      var move = model.sections.Where(x => x.pos > item.pos).OrderBy(x => x.pos).FirstOrDefault();
      if(move != null)
      {
        item.pos++;
        move.pos--;
        await DbWorkPlan.Update(Layout.Company.id, model);
        await JSRuntime.InvokeVoidAsync("tagline", true, $"Đã di chuyển vị trí nhóm {item.name}!");
      }
      else
        await JSRuntime.InvokeVoidAsync("tagline", false, "Không thể di chuyển vị trí nhóm!");
    }
    else
    {
      var move = model.sections.Where(x => x.pos < item.pos).OrderByDescending(x => x.pos).FirstOrDefault();
      if(move != null)
      {
        item.pos--;
        move.pos++;
        await DbWorkPlan.Update(Layout.Company.id, model);
        await JSRuntime.InvokeVoidAsync("tagline", true, $"Đã di chuyển vị trí nhóm {item.name}!");
      }
      else
        await JSRuntime.InvokeVoidAsync("tagline", false, "Không thể di chuyển vị trí nhóm!");
    }
  }
  
  #endregion
  
  
  #region Popup công việc chính

  private int editTab = 1;
  private WorkPlanModel.Task editTask = null;
  private List<WorkPlanModel.Task> subTasks = new();
  private List<TodolistModel.Todo> todoItems = new();
  private List<WorkPlanModel.Comment> comments = new();

  private async Task AddTask(WorkPlanModel.Task item, string sectionId)
  {
    if(Shared.IsEmpty(editSectionId))
    {
      editTab = 1;
      editTask = new()
      {
        status = 1,
        plan_id = model.id,
        section_id = sectionId,
        labels = new(),
        members = new() { new() { id = Layout.User.id, role = 2 }}
      };
      await JSRuntime.InvokeVoidAsync("setFocus", "task_name");
      await JSRuntime.InvokeVoidAsync("textAutoSize", "task_name");
    }
    else
      await JSRuntime.InvokeVoidAsync("tagline", false, "Vui lòng hoàn tất thêm nhóm công việc trước!");
  }

  private async Task EditTask(string taskId)
  {
    if(Shared.IsEmpty(editSectionId))
    {
      editTask = await DbWorkTask.Get(Layout.Company.id, taskId);
      var editRole = WorkService.RoleEditTask(model, editTask, Layout.User.id);

      if(editTab == 1 && editRole)
        await JSRuntime.InvokeVoidAsync("textAutoSize", "task_name");
      else if(editTab == 2)
        subTasks = await DbWorkTask.GetListInTask(Layout.Company.id, model.id, taskId);
      else if(editTab == 3)
        todoItems = DbTodoItem.GetList(Layout.Company.id, taskId, Layout.User.id);
      else if(editTab == 4)
      {
        comments = await DbWorkComment.GetList(Layout.Company.id, model.id, taskId);
        if(editRole)
        {
          await JSRuntime.InvokeVoidAsync("setFocus", "task_comment");
          await JSRuntime.InvokeVoidAsync("textAutoSize", "task_comment");
        }
      }
    }
    else
      await JSRuntime.InvokeVoidAsync("tagline", false, "Vui lòng hoàn tất thêm nhóm công việc trước!");
  }

  private async Task OnEditList(WorkPlanModel.Task item)
  {
    editTab = 1;
    await EditTask(item.id);
  }

  private async Task OnSubTasks(WorkPlanModel.Task item)
  {
    editTab = 2;
    await EditTask(item.id);
  }

  private async Task OnTodolist(WorkPlanModel.Task item)
  {
    editTab = 3;
    await EditTask(item.id);
  }

  private void OnUpdateTask(WorkPlanModel.Task item)
  {
    editTab = 1;
    editTask = null;
  }

  private void OnUpdateList(WorkPlanModel.Task item)
  {
    MessagingCenter.Send(this, "plan_" + item.plan_id, item.plan_id);
  }

  private void OnToggle(string id)
  {
    if (toggleList.Contains(id))
      toggleList.Remove(id);
    else
      toggleList.Add(id);
  }

  #endregion


  #region Chức năng kéo thả công việc

  private async Task OnItemDragdrop(WorkPlanModel.Task item)
  {
    toggleList.Clear();
    if(WorkService.RoleEditTask(model, item, Layout.User.id))
    {
      foreach (var group in taskGroups)
      {
        if(group.Value.Contains(item))
        {
          for (int pos = 0; pos < group.Value.Count; pos++)
          {
            var task = group.Value[pos];
            if(task.id != null)
            {
              // Sắp xếp lại
              task.pos = pos;
              // Chuyển nhóm
              if(task.id == item.id)
              {
                var section = model.sections.SingleOrDefault(x => x.id == group.Key);
                task.section_id = section.id;
                await WorkService.CreateLog(Layout.Company.id, "Cập nhật nhóm công việc", section.name, task.plan_id, task.id, Layout.User);
              }
              await DbWorkTask.Update(Layout.Company.id, task);
              await JSRuntime.InvokeVoidAsync("console.log", $"{task.pos} : {task.name}");
            }
          }
          break;
        }
      }
      await JSRuntime.InvokeVoidAsync("console.warn", $"plan_{item.plan_id} syncing {item.plan_id}");
      MessagingCenter.Send(this, "plan_" + item.plan_id, item.plan_id);
    }
    else
    {
      await JSRuntime.InvokeVoidAsync("tagline", false, 
        "Không thể thay đổi nhóm, vì bạn không tham gia vào công việc này!");
      SplitTaskList();
    }
  }

  #endregion
}