@page "/gift/exchange"
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<PageTitle>@_title</PageTitle>

@if (!string.IsNullOrEmpty(_message))
{
  <div id="notify">
    <div class="notification is-@(_success ? "success" : "danger")">
      <button class="delete" @onclick="() => _message = string.Empty"></button>
      <p>@((MarkupString)_message)</p>
    </div>
  </div>
}

<section class="p-4 @(_loaded ? "" : "is-loading")">
  <div class="card p-5">
    <ul class="columns is-vcentered is-variable is-2 mb-5">
      <li class="column is-narrow">
        <a class="title is-5 has-text-@(isGive ? "grey" : "info")" @onclick="() => Search(false)">
          LỊCH SỬ ĐỔI QUÀ
        </a>
      </li>
      <li class="column is-narrow">
        <a class="title is-5 has-text-@(isGive ? "info" : "grey")" @onclick="() => Search(true)">
          QUÀ NHẬN ĐƯỢC
        </a>
      </li>
    </ul>
    <table class="table is-fullwidth is-vcentered is-responsive mt-5">
      <thead>
        <tr>
          <th width="60px">Hình</th>
          <th>Sản phẩm</th>
          <th width="80px">Số lượng</th>
          <th width="80px">Sao đổi</th>
          <th width="150px">Thời gian</th>
          <th width="20%">@(isGive ? "Người tặng" : "Người nhận")</th>
          <th width="120px">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in dataList)
        {
          var status = DbGiftExchange.Status(item.status);

          <tr>
            <td align="center">
              <a class="image is-square" @onclick="() => ViewItem(item)">
                <img src="@item.image" alt="IMG" />
              </a>
            </td>
            <td>
              <label class="td-label">Sản phẩm</label>
              <div class="td-value">
                <div>
                  <a class="has-text-weight-semibold has-text-info" @onclick="() => ViewItem(item)">@item.name</a>
                  @if (!item.view)
                  {
                    <span class="has-text-success ml-2">(Mới)</span>
                  }
                </div>
                @if (!string.IsNullOrEmpty(item.note))
                {
                  <div class="is-size-7 pt-1">
                    <span class="has-text-weight-semibold">Ghi chú:</span>
                    <span class="has-text-grey">@item.note</span>
                  </div>
                }
              </div>
            </td>
            <td>
              <label class="td-label">Số lượng</label>
              <div class="td-value has-text-weight-semibold">
                @item.quantity
              </div>
            </td>
            <td>
              <label class="td-label">Sao đổi</label>
              <div class="td-value has-text-weight-semibold">
                @item.price
              </div>
            </td>
            <td>
              <label class="td-label">Thời gian</label>
              <div class="td-value">
                @string.Format("{0:dd/MM/yyyy, HH:mm}", new DateTime(item.date))
              </div>
            </td>
            @if (isGive)
            {
              var user = Layout.UserList.SingleOrDefault(x => x.id == item.user_buy);
              <td>
                <label class="td-label">Người tặng</label>
                <div class="td-value">
                  @if(user != null)
                  {
                    <div class="user_item">
                      <img class="image is-24x24 mr-2" src="@user.avatar" alt="IMG" />
                      <span>@user.FullName</span>
                    </div>
                  }
                  else
                  {
                    <span>Người tặng không tồn tại</span>
                  }
                </div>
              </td>
            }
            else
            {
              var user = Layout.UserList.SingleOrDefault(x => x.id == item.user_give);
              <td>
                <label class="td-label">Người nhận</label>
                <div class="td-value">
                  @if(user != null)
                  {
                    <div class="user_item">
                      <img class="image is-24x24 mr-2" src="@user.avatar" alt="IMG" />
                      <span>@user.FullName</span>
                    </div>
                  }
                  else
                  {
                    <span>Người nhận không tồn tại</span>
                  }
                </div>
              </td>
            }
            <td>
              <label class="td-label">Trạng thái</label>
              <div class="td-value">
                <span class="tag @status.color">@status.name</span>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }

  private bool _loaded = false;
  private bool _success = false;
  private string _message = string.Empty;
  private string _title = "Lịch sử đổi quà";

  private List<GiftExchangeModel> dataList = new();
  private bool isGive = false;

  protected override async Task OnInitializedAsync()
  {
    isGive = navigation.Uri.Contains("tab=give");
    await Search(isGive);
  }

  private async Task Search(bool give)
  {
    isGive = give;
    if (isGive)
    {
      _title = "Quà tặng nhận được";
      dataList = await DbGiftExchange.GetListGive(Layout.Company.id, Layout.User.id);
      navigation.NavigateTo("/gift/exchange?tab=give", false);
    }
    else
    {
      _title = "Lịch sử đổi quà";
      dataList = await DbGiftExchange.GetListBuy(Layout.Company.id, Layout.User.id, true);
      navigation.NavigateTo("/gift/exchange?tab=history", false);
    }
    _loaded = true;
  }

  private async Task ViewItem(GiftExchangeModel item)
  {
    item.view = true;
    await DbGiftExchange.Update(Layout.Company.id, item);
  }
}