@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

@if (!string.IsNullOrEmpty(_message))
{
  <div id="notify">
    <div class="notification is-@(_success ? "success" : "danger")">
      <button class="delete" @onclick="() => _message = string.Empty"></button>
      <p>@((MarkupString)_message)</p>
    </div>
  </div>
}

<div class="card p-5 p-4-mobile">
  <ul class="columns is-vcentered is-variable is-2 mb-3">
    <li class="column">
      <h1 class="title is-5 has-text-info mb-1">
        CHI TIẾT TODOLIST
      </h1>
      <div class="is-italic has-text-link is-size-7">
        Lựa chọn ngày phù hợp và tạo list công việc
      </div>
    </li>
    <li class="column is-narrow">
      <div class="field has-addons">
        <div class="control">
          <a class="button is-link">
            <span class="icon">
              <i class="material-icons-outlined is-size-6">calendar_today</i>
            </span>
          </a>
        </div>
        <div class="control is-expanded" style="width: 100px;">
          <div class="input is-link">
            <DateRangePicker SingleDatePicker="true" @bind-StartDate="todoDate"
                             OnSelectionStart="DateTodoChange" />
          </div>
        </div>
        <div class="control">
          <a class="button is-link is-outlined" @onclick="() => DateTodoNavi(false)">
            <span class="icon">
              <i class="material-icons-outlined is-size-6">chevron_left</i>
            </span>
          </a>
        </div>
        <div class="control">
          <a class="button is-link is-outlined" @onclick="() => DateTodoNavi(true)">
            <span class="icon">
              <i class="material-icons-outlined is-size-6">chevron_right</i>
            </span>
          </a>
        </div>
      </div>
    </li>
  </ul>
  <table class="table is-vcentered is-group2 is-fullwidth is-responsive mb-3">
    <thead>
      <tr>
        <th>
          Danh sách công việc
        </th>
        <th width="140px">
          Phân loại
        </th>
        <th width="140px">
          Độ ưu tiên
        </th>
        <th width="100px" align="center">
          Bắt đầu
        </th>
        <th width="100px" align="center">
          Kết thúc
        </th>
        <th width="100px" align="center">
          Tình trạng
        </th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in current.todos)
      {
        var status = DbTodolist.Status(item.status);
        if (editList.Contains(item.id))
        {
          <tr>
            <td>
              <input id="todo_@item.id" @bind="item.name" class="input" type="text" placeholder="Nhập tên công việc" />
            </td>
            <td>
              <label class="td-label">Phân loại</label>
              <div class="td-value">
                <div class="select is-fullwidth">
                  <select @bind="item.type">
                    @foreach (var sl in DbTodolist.Type())
                    {
                      <option value="@sl.id">@sl.name</option>
                    }
                  </select>
                </div>
              </div>
            </td>
            <td>
              <label class="td-label">Độ ưu tiên</label>
              <div class="td-value">
                <div class="select is-fullwidth">
                  <select @bind="item.level">
                    @foreach (var sl in DbTodolist.Level())
                    {
                      <option value="@sl.id">@sl.name</option>
                    }
                  </select>
                </div>
              </div>
            </td>
            <td align="center">
              <label class="td-label">Bắt đầu</label>
              <div class="td-value">
                <div class="select is-fullwidth">
                  <select @onchange="@((ChangeEventArgs e) => ChangeTime(item, e.Value.ToString()))">
                    @foreach (var sl in Shared.TimeList())
                    {
                      if (item.start == sl.name)
                      {
                        <option value="@sl.name" selected>@sl.name</option>
                      }
                      else
                      {
                        <option value="@sl.name">@sl.name</option>
                      }
                    }
                  </select>
                </div>
              </div>
            </td>
            <td align="center">
              <label class="td-label">Kết thúc</label>
              <div class="td-value">
                <div class="select is-fullwidth">
                  <select @bind="item.end">
                    @foreach (var sl in Shared.TimeList())
                    {
                      <option value="@sl.name">@sl.name</option>
                    }
                  </select>
                </div>
              </div>
            </td>
            <td align="center">
              <label class="td-label">Tình trạng</label>
              <div class="td-value">
                <div class="dropdown is-hoverable">
                  <div class="dropdown-trigger">
                    <a class="button is-rounded @status.color px-2" style="width: 90px;">
                      <span>@status.name</span>
                      <span class="icon is-small">
                        <i class="material-icons-outlined is-size-5">arrow_drop_down</i>
                      </span>
                    </a>
                  </div>
                  <div class="dropdown-menu">
                    <div class="dropdown-content">
                      @foreach (var sl in DbTodolist.Status())
                      {
                        <a class="dropdown-item" @onclick="() => ChangeStatus(item, sl.id)">
                          @sl.name
                        </a>
                      }
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="is-flex">
                <label class="td-label is-show">Chi tiết:</label>
                <div class="td-value">
                  <textarea @bind="item.detail" class="textarea" rows="2" placeholder="Nhập chi tiết công việc..." />
                </div>
              </div>
              <div class="is-flex">
                <label class="td-label is-show">Kết quả:</label>
                <div class="td-value">
                  <textarea @bind="item.result" class="textarea" rows="2" placeholder="Nhập kết quả công việc..." />
                </div>
              </div>
            </td>
            <td colspan="3" valign="bottom">
              <div class="has-text-right">
                <a class="icon-text has-text-link mr-3" @onclick="() => UpdateItem(item)">
                  <span class="icon">
                    <i class="material-icons-outlined is-size-5">update</i>
                  </span>
                  <span>Cập nhật</span>
                </a>
                @if (!item.confirm)
                {
                  <a class="icon-text has-text-danger" @onclick="() => DeleteItem(item)">
                    <span class="icon">
                      <i class="material-icons-outlined is-size-5">delete</i>
                    </span>
                    <span>Xóa</span>
                  </a>
                }
              </div>
            </td>
          </tr>
        }
        else
        {
          var type = DbTodolist.Type(item.type);
          var level = DbTodolist.Level(item.level);
          <tr>
            <td>
              <span class="has-text-weight-semibold has-text-link">@item.name</span>
            </td>
            <td>
              <label class="td-label">Phân loại</label>
              <div class="td-value">
                <span class="has-text-weight-semibold @type.color">@type.name</span>
              </div>
            </td>
            <td>
              <label class="td-label">Độ ưu tiên</label>
              <div class="td-value">
                <span class="has-text-weight-semibold @level.color">@level.name</span>
              </div>
            </td>
            <td align="center">
              <label class="td-label">Bắt đầu</label>
              <div class="td-value">
                @item.start
              </div>
            </td>
            <td align="center">
              <label class="td-label">Kết thúc</label>
              <div class="td-value">
                @item.end
              </div>
            </td>
            <td align="center">
              <label class="td-label">Tình trạng</label>
              <div class="td-value">
                @if (current.status < 3 && Layout.User.id == User.id)
                {
                  <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                      <a class="button is-rounded @status.color px-2 is-small" style="width: 90px;">
                        <span>@status.name</span>
                        <span class="icon is-small">
                          <i class="material-icons-outlined is-size-5">arrow_drop_down</i>
                        </span>
                      </a>
                    </div>
                    <div class="dropdown-menu">
                      <div class="dropdown-content">
                        @foreach (var sl in DbTodolist.Status())
                        {
                          <a class="dropdown-item" @onclick="() => ChangeStatus(item, sl.id)">
                            @sl.name
                          </a>
                        }
                      </div>
                    </div>
                  </div>
                }
                else
                {
                  <a class="button is-rounded @status.color px-2 is-small" style="width: 90px;">
                    <span>@status.name</span>
                  </a>
                }
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              @if (!string.IsNullOrEmpty(item.detail))
              {
                <div class="is-flex">
                  <label class="td-label is-show">Chi tiết:</label>
                  <div class="td-value is-word-break">
                    <div class="text_2_line" onclick="toggleText(this)">
                      @((MarkupString)Shared.GetLinks(item.detail))
                    </div>
                  </div>
                </div>
              }
              @if (!string.IsNullOrEmpty(item.result))
              {
                <div class="is-flex">
                  <label class="td-label is-show">Kết quả:</label>
                  <div class="td-value is-word-break">
                    <div class="text_2_line" onclick="toggleText(this)">
                      @((MarkupString)Shared.GetLinks(item.result))
                    </div>
                  </div>
                </div>
              }
            </td>
            <td colspan="3" valign="bottom">
              @if (current.status < 3 && Layout.User.id == User.id)
              {
                <div class="has-text-right">
                  <a class="icon-text has-text-link mr-3" @onclick="() => EditItem(item.id)">
                    <span class="icon">
                      <i class="material-icons-outlined is-size-5">edit</i>
                    </span>
                    <span>Chỉnh sửa</span>
                  </a>
                  @if (!item.confirm)
                  {
                    <a class="icon-text has-text-danger" @onclick="() => DeleteItem(item)">
                      <span class="icon">
                        <i class="material-icons-outlined is-size-5">delete</i>
                      </span>
                      <span>Xóa</span>
                    </a>
                  }
                </div>
              }
            </td>
          </tr>
        }
      }
      @if (current.todos.Count == 0)
      {
        <tr>
          <td colspan="6" class="has-text-grey py-3 is-italic">
            Chưa có công việc cho ngày @string.Format("{0:dd/MM}", new DateTime(current.date))
          </td>
        </tr>
      }
    </tbody>
  </table>
  @if (Layout.User.id == User.id)
  {
    <div class="field is-grouped is-grouped-multiline">
      <div class="control is-expanded has-text-weight-semibold has-text-link">
        @if (current.todos.Count == 0 && current.status < 3)
        {
          <div>Bạn chưa công việc cho ngày này. Hãy bắt đầu tạo công việc thôi nào!</div>
        }
        else if (current.status < 3)
        {
          var done = current.todos.Where(x => x.status == 4).Count();
          if (done < current.todos.Count)
          {
            <div>Tôi biết bạn sẽ làm tốt mà. Hãy hoàn thành thật sớm nhé!</div>
          }
          else
          {
            <div>Quá tuyệt vời, bạn đã hoàn thành Todolist của hôm nay :)</div>
          }
        }
        else
        {
          var done = current.todos.Where(x => x.status == 4).Count();
          <div>Đã hoàn thành @string.Format("{0}/{1}", done, current.todos.Count) công việc.</div>
        }
      </div>
      @if (current.status < 3)
      {
        <div class="control">
          <a class="button is-info" @onclick="AddItem">
            <span class="icon">
              <i class="material-icons-outlined is-size-6">add</i>
            </span>
            <span>Thêm công việc</span>
          </a>
        </div>
      }
      @if (current.status < 2 && current.todos.Count > 0)
      {
        <div class="control">
          <a class="button is-link" @onclick="Checkin">
            <span class="icon">
              <i class="material-icons-outlined is-size-6">logout</i>
            </span>
            <span>Check-in</span>
          </a>
        </div>
      }
      @if (current.status == 2)
      {
        <div class="control">
          <a class="button is-danger" @onclick="Checkout">
            <span class="icon">
              <i class="material-icons-outlined is-size-6">done</i>
            </span>
            <span>Check-out</span>
          </a>
        </div>
      }
    </div>
  }
  else if (current.status == 2 && string.IsNullOrEmpty(current.user_confirm)
  && DbDepartment.CheckManagerRole(Layout.Company.id, User, Layout.User.id, departmentAll))
  {
    <div class="field is-grouped is-grouped-right">
      <div class="control">
        <a class="has-text-link has-text-weight-semibold" @onclick="() => ConfirmItem(current)">
          Xác nhận ngay
        </a>
      </div>
    </div>
  }
</div>

<div class="card p-5 p-4-mobile">
  <ul class="columns is-vcentered is-variable is-2">
    <li class="column">
      <h1 class="title is-5 has-text-info">
        LỊCH SỬ TODOLIST
      </h1>
    </li>
    <li class="column is-narrow">
      <div class="dropdown is-hoverable is-right">
        <div class="dropdown-trigger">
          <a class="icon-text">
            @if (dateType == 1)
            {
              <span class="has-text-link">Tuần này</span>
            }
            else if (dateType == 11)
            {
              <span class="has-text-link">Tuần trước</span>
            }
            else if (dateType == 2)
            {
              <span class="has-text-link">Tháng này</span>
            }
            else if (dateType == 22)
            {
              <span class="has-text-link">Tháng trước</span>
            }
            else if (dateType == 3)
            {
              <span class="has-text-link">Quý này</span>
            }
            <span class="icon">
              <i class="material-icons-outlined is-size-5">arrow_drop_down</i>
            </span>
          </a>
        </div>
        <div class="dropdown-menu">
          <div class="dropdown-content">
            <a class="dropdown-item" @onclick="() => ChangeDate(1)">
              Tuần này
            </a>
            <a class="dropdown-item" @onclick="() => ChangeDate(11)">
              Tuần trước
            </a>
            <a class="dropdown-item" @onclick="() => ChangeDate(2)">
              Tháng này
            </a>
            <a class="dropdown-item" @onclick="() => ChangeDate(22)">
              Tháng trước
            </a>
            <a class="dropdown-item" @onclick="() => ChangeDate(3)">
              Quý này
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <table class="table is-noborder is-fullwidth is-vcentered is-responsive mt-3">
    <thead>
      <tr class="has-text-weight-semibold">
        <th>Thành viên</th>
        <th width="190px">Ngày check-in</th>
        <th width="190px">Ngày check-out</th>
        <th width="120px">Hoàn thành</th>
        <th width="115px">Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      @if (User != null && User.departments_id != null)
      {
        <tr>
          <td colspan="5">
            <div class="user_item">
              <img class="image is-36x36 mr-2" src="@User.avatar" alt="IMG">
              <div>
                <p class="has-text-weight-semibold has-text-info is-size-6">
                  @User.FullName
                </p>
                <p class="text_1_line has-text-grey is-size-7" style="width: 400px;">
                  @User.departments_name
                </p>
              </div>
            </div>
          </td>
        </tr>
        for (DateTime date = filterEnd; date >= filterStart; date = date.AddDays(-1))
        {
          // Ngày nghỉ
          var dayOff = DbDayOff.CheckOff(Layout.DaysOff, date);
          var item = database.SingleOrDefault(x => x.date == date.Ticks);
          if (item != null)
          {
            var done = item.todos.Where(x => x.status == 4).Count();
            var progress = Shared.Progress(done, item.todos.Count);
            <tr>
              <td class="pl-6">
                <label class="td-label">Ngày</label>
                <div class="td-value">
                  <a class="icon-text has-text-link" @onclick="() => ShowItems(item.id)">
                    <span class="has-text-weight-semibold">@string.Format("{0:dd/MM/yyyy}", new DateTime(item.date))</span>
                    <span class="icon" title="Xem nhanh các công việc">
                      <i class="material-icons-outlined is-size-5">
                        @(showTodoItems.Contains(item.id) ? "arrow_drop_down" : "arrow_right")
                      </i>
                    </span>
                    @if (item.day_off)
                    {
                      <i class="has-text-grey">(Ngày nghỉ)</i>
                    }
                  </a>
                </div>
              </td>
              <td>
                <label class="td-label">Ngày check-in</label>
                <div class="td-value">
                  <span class="mr-3">@string.Format("{0:dd/MM - HH:mm}", new DateTime(item.date_checkin))</span>
                  @if (item.ontime_checkin)
                  {
                    <span class="has-text-success">Đúng hạn</span>
                  }
                  else
                  {
                    <span class="has-text-danger">Trễ hạn</span>
                  }
                </div>
              </td>
              <td>
                <label class="td-label">Ngày check-out</label>
                <div class="td-value">
                  @if (item.date_checkout > 0)
                  {
                    <span class="mr-3">@string.Format("{0:dd/MM - HH:mm}", new DateTime(item.date_checkout))</span>
                    @if (item.ontime_checkout)
                    {
                      <span class="has-text-success">Đúng hạn</span>
                    }
                    else
                    {
                      <span class="has-text-danger">Trễ hạn</span>
                    }
                  }
                  else
                  {
                    <span>Chưa Check-out</span>
                  }
                </div>
              </td>
              <td>
                <label class="td-label">Hoàn thành</label>
                <div class="td-value has-text-weight-semibold">
                  @string.Format("{0}/{1}", done, item.todos.Count) - @Shared.ConvertNumber(progress)%
                </div>
              </td>
              <td>
                <label class="td-label">Trạng thái</label>
                <div class="td-value has-text-weight-semibold">
                  @if (string.IsNullOrEmpty(item.user_confirm))
                  {
                    if (DbDepartment.CheckManagerRole(Layout.Company.id, User, Layout.User.id, departmentAll))
                    {
                      <a class="has-text-link" @onclick="() => ConfirmItem(item)">
                        Xác nhận ngay
                      </a>
                    }
                    else
                    {
                      <span class="has-text-grey">Chờ xác nhận</span>
                    }
                  }
                  else if (item.user_confirm == "auto")
                  {
                    <span title="Hệ thống tự động xác nhận">Đã xác nhận</span>
                  }
                  else
                  {
                    var userConfirm = Layout.UserList.SingleOrDefault(x => x.id == item.user_confirm);
                    <span title="@(userConfirm != null ? userConfirm.FullName : "Quản lý") đã xác nhận Todolist">
                      Đã xác nhận
                    </span>
                  }
                </div>
              </td>
            </tr>
            if (showTodoItems.Contains(item.id))
            {
              foreach (var todo in item.todos)
              {
                var type = DbTodolist.Type(todo.type);
                var level = DbTodolist.Level(todo.level);
                var status = DbTodolist.Status(todo.status);
                <tr>
                  <td class="pl-6">
                    <div class="ml-3 text_1_line" onclick="toggleText(this)">• @todo.name</div>
                  </td>
                  <td>
                    <label class="has-text-grey">Phân loại:</label>
                    <span class="@type.color">@type.name</span>
                  </td>
                  <td>
                    <label class="has-text-grey">Ưu tiên:</label>
                    <span class="@level.color">@level.name</span>
                  </td>
                  <td>
                    <label class="td-label">Thời gian</label>
                    <div class="td-value">
                      <span>@todo.start - @todo.end</span>
                    </div>
                  </td>
                  <td>
                    <label class="td-label">Trạng thái</label>
                    <div class="td-value @status.color">
                      @status.name
                    </div>
                  </td>
                </tr>
              }
            }
          }
          else if (date < DateTime.Now && !dayOff)
          {
            <tr>
              <td class="pl-6">
                <label class="td-label">Ngày</label>
                <div class="td-value">
                  <span class="has-text-weight-semibold has-text-grey">@string.Format("{0:dd/MM/yyyy}", date)</span>
                </div>
              </td>
              <td colspan="4" class="is-italic has-text-grey">
                Không có Todolist
              </td>
            </tr>
          }
        }
      }
    </tbody>
  </table>
</div>

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }
  [Parameter]
  public UserModel User { get; set; }

  private bool _success = false;
  private string _message = string.Empty;

  private TodolistModel current = new() { todos = new() };
  private List<string> editList = new();
  DateTimeOffset? todoDate { get; set; }

  private int dateType = 1;
  private List<DepartmentModel> departmentAll = new();
  private List<TodolistModel> database = new();
  private List<string> showTodoItems = new();
  private DateTime filterStart = DateTime.Now;
  private DateTime filterEnd = DateTime.Now;

  protected override void OnInitialized()
  {
    departmentAll = DbDepartment.GetAll(Layout.Company.id);
    todoDate = Convert.ToDateTime(DateTime.Now.ToShortDateString());
  }

  protected override async Task OnParametersSetAsync()
  {
    await GetTodo();
    await GetTodolist();
  }

  private async Task DateTodoChange(DateTimeOffset date)
  {
    todoDate = date;
    await GetTodo();
  }

  private async Task DateTodoNavi(bool next)
  {
    todoDate = next ? todoDate.Value.DateTime.AddDays(1) : todoDate.Value.DateTime.AddDays(-1);
    await GetTodo();
  }

  private async Task GetTodo()
  {
    editList.Clear();
    current = await DbTodolist.GetbyDay(Layout.Company.id, User.id, todoDate.Value.DateTime);
    if (current == null)
    {
      current = new TodolistModel();
      current.date = todoDate.Value.DateTime.Ticks;
      current.user_create = User.id;
      current.todos = new();
      // Nếu người dùng tự xem thì mới tạo Todolist
      if (Layout.User.id == User.id)
        current = await DbTodolist.Create(Layout.Company.id, current);
    }
  }

  private async Task AddItem()
  {
    var item = new TodolistModel.Todo()
      {
        id = Mongo.RandomId(),
        type = 1,
        level = 1,
        status = 1,
        start = "07:00",
        end = "07:30"
      };
    current.todos.Add(item);
    editList.Add(item.id);
    await JSRuntime.InvokeVoidAsync("setFocus", "todo_" + item.id);
  }

  private void ChangeTime(TodolistModel.Todo item, string time)
  {
    item.start = time;
    item.end = time;
  }

  private async Task ChangeStatus(TodolistModel.Todo item, int status)
  {
    item.status = status;
    current = await DbTodolist.Update(Layout.Company.id, current);
  }

  private async Task EditItem(string id)
  {
    editList.Add(id);
    await JSRuntime.InvokeVoidAsync("setFocus", "todo_" + id);
  }

  private async Task DeleteItem(TodolistModel.Todo item)
  {
    if (current.status < 2 || !item.confirm)
    {
      if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Bạn có chắc muốn xóa: {item.name}?"))
        return;

      current.todos.Remove(item);
      current = await DbTodolist.Update(Layout.Company.id, current);
    }
    else
    {
      _success = false;
      _message = "Không thể xóa công việc đã Check-in !";
      await Task.Delay(5000);
      _message = string.Empty;
    }
  }

  private async Task UpdateItem(TodolistModel.Todo item)
  {
    _success = false;
    _message = string.Empty;

    if (string.IsNullOrEmpty(item.name))
    {
      _message = "Bạn chưa nhập tên công việc !";
      await Task.Delay(5000);
      _message = string.Empty;
    }
    else if (string.IsNullOrEmpty(item.name.Trim()))
    {
      _message = "Bạn chưa nhập tên công việc !";
      await Task.Delay(5000);
      _message = string.Empty;
    }
    else if (string.IsNullOrEmpty(item.start) || string.IsNullOrEmpty(item.start))
    {
      _message = "Bạn chưa nhập thời gian thực hiện !";
      await Task.Delay(5000);
      _message = string.Empty;
    }
    else
    {
      item.name = item.name.Trim();
      current.todos = current.todos.OrderBy(x => x.start).ToList();
      current = await DbTodolist.Update(Layout.Company.id, current);
      editList.Remove(item.id);
    }
  }

  private async Task Checkin()
  {
    _success = false;
    _message = string.Empty;

    if (current.todos.Count == 0)
    {
      _message = "Bạn không có công việc để Check-in !";
      await Task.Delay(5000);
      _message = string.Empty;
    }
    else if (CheckConditionItem(current.todos) == false)
    {
      _message = "Có công việc chưa nhập tên công việc !";
      await Task.Delay(5000);
      _message = string.Empty;
    }
    else
    {
      if (!await JSRuntime.InvokeAsync<bool>("confirm", "Bạn đã tạo xong và muốn nộp TodoList lên quản lý ?"))
        return;

      current.todos = current.todos.OrderBy(x => x.start).ToList();
      current.day_off = DbDayOff.CheckOff(Layout.DaysOff, new DateTime(current.date));
      current.date_checkin = DateTime.Now.Ticks;
      current.status = 2;
      current = await DbTodolist.Update(Layout.Company.id, current);
      editList.Clear();
    }
  }

  private async Task Checkout()
  {
    _success = false;
    _message = string.Empty;

    if (current.date > Convert.ToDateTime(DateTime.Now.ToShortDateString()).Ticks)
    {
      _message = "Chưa đến thời điểm Check-out !";
      await Task.Delay(5000);
      _message = string.Empty;
    }
    else if (current.todos.Count == 0)
    {
      _message = "Bạn không có công việc để Check-out !";
      await Task.Delay(5000);
      _message = string.Empty;
    }
    else if (current.todos.Where(x => x.status == 1).Count() > 0)
    {
      _message = "Không thể Check-out khi có công việc đang ở trạng thái Todo!";
      await Task.Delay(5000);
      _message = string.Empty;
    }
    else if (CheckConditionItem(current.todos) == false)
    {
      _message = "Có công việc chưa nhập tên công việc hoặc thời gian thực hiện !";
      await Task.Delay(5000);
      _message = string.Empty;
    }
    else
    {
      if (!await JSRuntime.InvokeAsync<bool>("confirm", "Sau khi Check-out bạn không thể chỉnh sửa Todolist.\nBạn có chắc muốn check-out ?"))
        return;
        
      current.todos = current.todos.OrderBy(x => x.start).ToList();
      current.date_checkout = DateTime.Now.Ticks;
      current.status = 3;
      current = await DbTodolist.Update(Layout.Company.id, current);
      editList.Clear();

      // Tính thành tựu
      await DbTodolist.Achievement(Layout.Company.id, current.user_create);
    }
  }

  private bool CheckConditionItem(List<TodolistModel.Todo> todos)
  {
    foreach (var item in todos)
    {
      if (string.IsNullOrEmpty(item.name) || string.IsNullOrEmpty(item.name.Trim()))
        return false;
      else if (string.IsNullOrEmpty(item.start) || string.IsNullOrEmpty(item.start))
        return false;
    }
    return true;
  }

  private async Task ChangeDate(int type)
  {
    dateType = type;
    await GetTodolist();
  }

  private async Task GetTodolist()
  {
    showTodoItems.Clear();
    Shared.GetTimeSpan(dateType, out filterStart, out filterEnd);
    database = await DbTodolist.GetList(Layout.Company.id, User.id, filterStart, filterEnd);

    await TodolistService.AutoConfirm(database, Layout.Company.todolist.time_confirm, Layout.Company.id);
  }

  private async Task ConfirmItem(TodolistModel item)
  {
    item.date_confirm = DateTime.Now.Ticks;
    item.user_confirm = Layout.User.id;
    foreach (var todo in current.todos)
      todo.confirm = true;
    await DbTodolist.Update(Layout.Company.id, item);

    // Gửi thông báo chuông
    await DbNotify.Create(Layout.Company.id, 200, item.id, item.user_create, Layout.User.id);
  }

  private void ShowItems(string id)
  {
    if (showTodoItems.Contains(id))
      showTodoItems.Remove(id);
    else
      showTodoItems.Add(id);
  }
}