@page "/config/system/dayoff"
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<PageTitle>@_title</PageTitle>

@if (!string.IsNullOrEmpty(_message))
{
  <div id="notify">
    <div class="notification is-@(_success ? "success" : "danger")">
      <button class="delete" @onclick="() => _message = string.Empty"></button>
      <p>@((MarkupString)_message)</p>
    </div>
  </div>
}

@if (Layout.User.role != 1 && !Layout.User.role_manage.system)
{
  <PopupNoRole />
}
else
{
  <section class="columns is-gapless has_menu_left @(_loaded ? "" : "is-loading")">
    <div class="column is-narrow">
      <div class="card p-3 menu_left">
        <a href="/config/system/department/list">
          Phòng ban
        </a>
        <a href="/config/system/user/list">
          Nhân sự
        </a>
        <a class="is-active" href="/config/system/dayoff">
          Thiết lập ngày nghỉ
        </a>
      </div>
    </div>
    <div class="column">
      <div class="card p-5">
        <ul class="columns is-vcentered">
          <li class="column is-narrow">
            <h1 class="title is-5 has-text-info is-uppercase">
              Lịch nghỉ
            </h1>
          </li>
          <li class="column has-text-right">
            <a class="button" @onclick="() => EditItem(null)">
              <span class="icon">
                <span class="material-icons-outlined is-size-6">add</span>
              </span>
              <span>Thêm mới</span>
            </a>
          </li>
        </ul>
        <table class="table is-fullwidth is-vcentered is-responsive mt-5">
          <thead>
            <tr>
              <th width="20%">Tên ngày nghỉ</th>
              <th align="center">Ngày nghỉ</th>
              <th width="15%" align="center">Kết thúc</th>
              <th width="15%" align="center">Ngày tạo</th>
              <th width="15%" align="center">Lặp lại</th>
              <th width="70px" align="center">Xử lý</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in dataList)
            {
              <tr>
                <td>
                  @item.name
                </td>
                <td align="center">
                  <label class="td-label">Ngày nghỉ</label>
                  <div class="td-value">
                    @if (item.loop == 1)
                    {
                      <span>@string.Format("{0:dd/MM/yyyy}", new DateTime(item.start))</span>
                      @if (item.start != item.end)
                      {
                        <span>@string.Format(" - {0:dd/MM/yyyy}", new DateTime(item.end))</span>
                      }
                    }
                    else
                    {
                      if (item.loop_week.mon)
                      {
                        <span>T2, </span>
                      }
                      if (item.loop_week.tue)
                      {
                        <span>T3, </span>
                      }
                      if (item.loop_week.wed)
                      {
                        <span>T4, </span>
                      }
                      if (item.loop_week.thu)
                      {
                        <span>T5, </span>
                      }
                      if (item.loop_week.fri)
                      {
                        <span>T6, </span>
                      }
                      if (item.loop_week.sat)
                      {
                        <span>T7, </span>
                      }
                      if (item.loop_week.sun)
                      {
                        <span>CN</span>
                      }
                    }
                  </div>
                </td>
                <td align="center">
                  <label class="td-label">Kết thúc</label>
                  <div class="td-value">
                    @string.Format("{0:dd/MM/yyyy}", new DateTime(item.end))
                  </div>
                </td>
                <td align="center">
                  <label class="td-label">Ngày tạo</label>
                  <div class="td-value">
                    @string.Format("{0:dd/MM/yyyy}", new DateTime(item.create))
                  </div>
                </td>
                <td align="center">
                  <label class="td-label">Lặp lại</label>
                  <div class="td-value has-text-weight-semibold">
                    @if (item.loop == 1)
                    {
                      <span>Một lần</span>
                    }
                    else
                    {
                      <span>Hàng tuần</span>
                    }
                  </div>
                </td>
                <td align="center">
                  <label class="td-label">Xử lý</label>
                  <div class="td-value">
                    <a class="icon has-text-link" title="Chỉnh sửa" @onclick="() => EditItem(item)">
                      <i class="material-icons-outlined is-size-5">
                        edit
                      </i>
                    </a>
                    <a class="icon has-text-danger" title="Xóa" @onclick="() => DeleteItem(item)">
                      <i class="material-icons-outlined is-size-5">
                        delete
                      </i>
                    </a>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </section>
}

@if (current != null)
{
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <div class="modal-card-head">
        <div class="modal-card-title">
          @(string.IsNullOrEmpty(current.id) ? "Tạo lịch nghỉ mới" : "Chỉnh sửa lịch nghỉ")
        </div>
        <a class="delete" @onclick="() => current = null"></a>
      </div>
      <div class="modal-card-body">
        <form @onsubmit="Update">
          <div class="field">
            <label class="label">Tên ngày nghỉ</label>
            <div class="control">
              <input @bind="current.name" type="text" class="input" placeholder="Nhập tên ngày nghỉ..." />
            </div>
          </div>
          <div class="field">
            <label class="label">Hình thức lặp lại</label>
            <div class="control">
              @if (current.loop == 1)
              {
                <label class="radio mr-3">
                  <input type="radio" name="loop" @onclick="() => ChangeLoop(1)" checked />
                  <span class="ml-1">Một lần</span>
                </label>
                <label class="radio">
                  <input type="radio" name="loop" @onclick="() => ChangeLoop(2)" />
                  <span class="ml-1">Hàng tuần</span>
                </label>
              }
              else
              {
                <label class="radio mr-3">
                  <input type="radio" name="loop" @onclick="() => ChangeLoop(1)" />
                  <span class="ml-1">Một lần</span>
                </label>
                <label class="radio">
                  <input type="radio" name="loop" @onclick="() => ChangeLoop(2)" checked />
                  <span class="ml-1">Hàng tuần</span>
                </label>
              }
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <label class="label">Bắt đầu nghỉ</label>
              <div class="control has-icons-left">
                <div class="input">
                  <DateRangePicker SingleDatePicker="true" @bind-StartDate="StartDate" />
                </div>
                <span class="icon is-left">
                  <i class="material-icons-outlined">
                    calendar_today
                  </i>
                </span>
              </div>
            </div>
            <div class="control is-expanded is-hidden-mobile">
            </div>
            <div class="control">
              <label class="label">Kết thúc nghỉ</label>
              <div class="control has-icons-left">
                <div class="input">
                  <DateRangePicker SingleDatePicker="true" @bind-StartDate="EndDate" />
                </div>
                <span class="icon is-left">
                  <i class="material-icons-outlined">
                    calendar_today
                  </i>
                </span>
              </div>
            </div>
          </div>
          @if (current.loop == 2)
          {
            <div class="field">
              <label class="label">Chọn thứ trong tuần</label>
              <div class="control">
                <label class="checkbox mr-2">
                  <input type="checkbox" @bind="current.loop_week.mon" />
                  Thứ 2
                </label>
                <label class="checkbox mr-2">
                  <input type="checkbox" @bind="current.loop_week.tue" />
                  Thứ 3
                </label>
                <label class="checkbox mr-2">
                  <input type="checkbox" @bind="current.loop_week.wed" />
                  Thứ 4
                </label>
                <label class="checkbox mr-2">
                  <input type="checkbox" @bind="current.loop_week.thu" />
                  Thứ 5
                </label>
                <label class="checkbox mr-2">
                  <input type="checkbox" @bind="current.loop_week.fri" />
                  Thứ 6
                </label>
                <label class="checkbox mr-2">
                  <input type="checkbox" @bind="current.loop_week.sat" />
                  Thứ 7
                </label>
                <label class="checkbox mr-2">
                  <input type="checkbox" @bind="current.loop_week.sun" />
                  Chủ nhật
                </label>
              </div>
            </div>
          }
          <div class="field mt-5">
            <div class="buttons is-right">
              <a class="button" @onclick="() => current = null">
                Hủy
              </a>
              <a class="button is-link" @onclick="Update">
                <span class="icon">
                  <span class="material-icons-outlined is-size-6">
                    done
                  </span>
                </span>
                <span>Cập nhật</span>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
}

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }

  [Parameter]
  public string Id { get; set; }

  private bool _loaded = false;
  private bool _success = false;
  private string _message = string.Empty;
  private string _title = "Cấu hình ngày nghỉ";

  private List<DayOffModel> dataList = new();
  private DayOffModel current = null;
  DateTimeOffset? StartDate { get; set; }
  DateTimeOffset? EndDate { get; set; }

  protected override async Task OnInitializedAsync()
  {
    await OnLoad();
    _loaded = true;
  }

  private async Task OnLoad()
  {
    dataList = DbDayOff.GetAll(Layout.Company.id);
    await Layout.RefreshData();
  }

  private async Task DeleteItem(DayOffModel item)
  {
    if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Bạn có chắc muốn xóa {item.name}"))
      return;

    await DbDayOff.Delete(Layout.Company.id, item.id);
    dataList.Remove(item);
  }

  private void EditItem(DayOffModel item)
  {
    if (item == null)
    {
      current = new()
      {
        start = Convert.ToDateTime(DateTime.Now.ToShortDateString()).Ticks,
        end = Convert.ToDateTime(DateTime.Now.ToShortDateString()).Ticks,
        loop = 1,
        loop_week = new()
      };
    }
    else
    {
      current = item;
    }
    StartDate = new DateTime(current.start);
    EndDate = new DateTime(current.end);
  }

  private void ChangeLoop(int loop)
  {
    current.loop = loop;
  }

  private async Task Update()
  {
    _success = false;
    _message = string.Empty;

    if (string.IsNullOrEmpty(current.name))
    {
      _message = "Bạn cần nhập tên ngày nghỉ !";
      await Task.Delay(5000);
      _message = string.Empty;
    }
    else if(StartDate == null || EndDate == null)
    {
      _message = "Bạn cần chọn ngày bắt đầu và kết thúc";
      await Task.Delay(5000);
      _message = string.Empty;
    }
    else if (StartDate.Value.DateTime.Ticks > EndDate.Value.DateTime.Ticks)
    {
      _message = "Ngày bắt đầu không thể lớn hơn ngày kết thúc !";
      await Task.Delay(5000);
      _message = string.Empty;
    }
    else
    {
      current.start = StartDate.Value.DateTime.Ticks;
      current.end = EndDate.Value.DateTime.Ticks;

      if (string.IsNullOrEmpty(current.id))
      {
        current = await DbDayOff.Create(Layout.Company.id, current);
      }
      else
      {
        current = await DbDayOff.Update(Layout.Company.id, current);
      }

      current = null;
      await OnLoad();
    }
  }
}