@page "/config/educate"
@page "/config/educate/category"
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<PageTitle>@_title</PageTitle>

@if (!string.IsNullOrEmpty(_message))
{
  <div id="notify">
    <div class="notification is-@(_success ? "success" : "danger")">
      <button class="delete" @onclick="() => _message = string.Empty"></button>
      <p>@((MarkupString)_message)</p>
    </div>
  </div>
}

@if (Layout.User.role != 1 && !Layout.User.role_manage.educate)
{
  <PopupNoRole />
}
else
{
  <section class="columns is-gapless has_menu_left @(_loaded ? "" : "is-loading")">
    <div class="column is-narrow">
      <div class="card p-3 menu_left">
        <a class="is-active" href="/config/educate/category">
          Danh mục
        </a>
        <a href="/config/educate/certificate">
          Mẫu<br />Chứng chỉ
        </a>
      </div>
    </div>
    <div class="column">
      <div class="card p-5">
        <ul class="columns is-vcentered">
          <li class="column">
            <h1 class="title is-5 has-text-info is-uppercase">
              @_title
            </h1>
          </li>
          <li class="column is-narrow">
            <a class="button is-link" @onclick="() => EditItem(null)">
              <span class="icon">
                <span class="material-icons-outlined is-size-6">add</span>
              </span>
              <span>Thêm mới</span>
            </a>
          </li>
        </ul>
        <ul class="columns is-variable is-2">
          <li class="column">
            <input @bind="filterKey" type="text" class="input" placeholder="Từ khóa: tên danh mục..." />
          </li>
          <li class="column is-narrow">
            <a class="button is-link is-outlined" @onclick="GetList">
              <span class="icon">
                <i class="material-icons-outlined">search</i>
              </span>
              <span>Tìm kiếm</span>
            </a>
          </li>
        </ul>
        <table class="table is-fullwidth is-vcentered is-responsive mt-5">
          <thead>
            <tr>
              <th width="60px">Hình</th>
              <th>Tên danh mục</th>
              <th width="70px" align="center">Xử lý</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in dataList)
            {
              <tr>
                <td align="center">
                  <a class="image is-square" href="@item.image" target="_blank">
                    <img src="@item.image" alt="IMG" />
                  </a>
                </td>
                <td>
                  <label class="td-label">Tên danh mục</label>
                  <div class="td-value">
                    <a class="has-text-weight-semibold" @onclick="() => EditItem(item)">
                      @item.name
                    </a>
                  </div>
                </td>
                <td align="center">
                  <label class="td-label">Xử lý</label>
                  <div class="td-value">
                    <a class="icon has-text-link" title="Chỉnh sửa" @onclick="() => EditItem(item)">
                      <i class="material-icons-outlined is-size-5">
                        edit
                      </i>
                    </a>
                    <a class="icon has-text-danger" title="Xóa" @onclick="() => DeleteItem(item)">
                      <i class="material-icons-outlined is-size-5">
                        delete
                      </i>
                    </a>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </section>
}

@if (current != null)
{
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <div class="modal-card-head">
        <div class="modal-card-title">
          @(string.IsNullOrEmpty(current.id) ? "Thêm danh mục mới" : "Chỉnh sửa danh mục")
        </div>
        <a class="delete" @onclick="() => current = null"></a>
      </div>
      <form @onsubmit="Update" class="modal-card-body">
        <div class="field">
          <label class="label">Tiêu đề *</label>
          <div class="control">
            <input @bind="current.name" type="text" class="input" id="input_name" />
          </div>
        </div>
        <div class="field">
          <label class="label">Hình ảnh *</label>
          <div class="field has-addons">
            <div class="control">
              <a class="image is-square">
                <img src="@current.image" />
              </a>
            </div>
            <div class="control is-expanded">
              <InputFile OnChange="Upload" accept="image/*" class="input" />
            </div>
          </div>
        </div>
        <div class="field mt-5">
          <div class="buttons is-right">
            <a class="button" @onclick="() => current = null">
              Hủy
            </a>
            <a class="button is-link" @onclick="Update">
              <span class="icon">
                <i class="material-icons-outlined is-size-6">done</i>
              </span>
              <span>Cập nhật</span>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
}

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }

  private bool _loaded = false;
  private bool _success = false;
  private string _message = string.Empty;
  private string _title = "Quản lý danh mục đào tạo";

  private EducateCategoryModel current = null;
  private List<EducateCategoryModel> dataList = new();
  private string filterKey = string.Empty;

  protected override void OnInitialized()
  {
    GetList();

    _loaded = true;
  }

  private void GetList()
  {
    dataList = DbEducateCategory.GetList(Layout.Company.id, filterKey);
  }

  private async Task DeleteItem(EducateCategoryModel item)
  {
    if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Bạn có chắc muốn xóa {item.name}"))
      return;

    dataList.Remove(item);
    await DbEducateCategory.Delete(Layout.Company.id, item.id);
  }

  private async Task EditItem(EducateCategoryModel item)
  {
    if (item == null)
    {
      current = new() { image = "/images/default.jpg" };
    }
    else
    {
      current = item;
    }
    await JSRuntime.InvokeVoidAsync("setFocus", "input_name");
  }

  private async Task Upload(InputFileChangeEventArgs e)
  {
    _success = false;
    foreach (var file in e.GetMultipleFiles())
    {
      _message = "Đang upload file lên...";
      try
      {
        if (file.Size <= Layout.MaxFileSize)
        {
          var fileContent = new StreamContent(file.OpenReadStream(Layout.MaxFileSize));
          current.image = await Files.SaveFileAsync(fileContent, file.Name);
          _message = string.Empty;
        }
        else
        {
          _message = $"Chỉ cho phép file tối đa {string.Format("{0:0,0}", Layout.MaxFileSize / 1024000)} MB";
        }
      }
      catch (Exception ex)
      {
        _message = $"ERROR: {ex.Message}";
      }
    }
  }

  private async Task Update()
  {
    _success = false;
    _message = string.Empty;

    if (string.IsNullOrEmpty(current.name) || string.IsNullOrEmpty(current.image))
    {
      _message = "Nhập các trường bắt buộc (*)";
      await Task.Delay(5000);
      _message = string.Empty;
    }
    else
    {
      if (string.IsNullOrEmpty(current.id))
      {
        current = await DbEducateCategory.Create(Layout.Company.id, current);
        dataList.Insert(0, current);
      }
      else
      {
        current = await DbEducateCategory.Update(Layout.Company.id, current);
      }
      dataList = dataList.OrderBy(x => x.name).ToList();
      current = null;
    }
  }
}