@page "/config/okrs/evaluates"
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<PageTitle>@_title</PageTitle>

@if (!string.IsNullOrEmpty(_message))
{
  <div id="notify">
    <div class="notification is-@(_success ? "success" : "danger")">
      <button class="delete" @onclick="() => _message = string.Empty"></button>
      <p>@((MarkupString)_message)</p>
    </div>
  </div>
}

@if (Layout.User.role != 1 && !Layout.User.role_manage.okrs)
{
  <PopupNoRole />
}
else
{
  <section class="columns is-gapless has_menu_left @(_loaded ? "" : "is-loading")">
    <div class="column is-narrow">
      <div class="card p-3 menu_left">
        <a href="/config/okrs/cycles">
          Chu kỳ OKRs
        </a>
        <a href="/config/okrs/suggests">
          Phiếu <br /> góp ý
        </a>
        <a class="is-active" href="/config/okrs/evaluates">
          Tiêu chí đánh giá
        </a>
        <a href="/config/okrs/stars/plus">
          Cấp sao
        </a>
        <a href="/config/okrs/stars/minus">
          Trừ sao
        </a>
      </div>
    </div>
    <div class="column">
      <div class="card p-5">
        <ul class="columns is-vcentered">
          <li class="column is-narrow">
            <h1 class="title is-5 has-text-info is-uppercase">
              Cấu hình Tiêu chí đánh giá
            </h1>
          </li>
          <li class="column has-text-right">
            <a class="button" @onclick="() => EditItem(null)">
              <span class="icon">
                <span class="material-icons-outlined is-size-6">add</span>
              </span>
              <span>Thêm mới</span>
            </a>
          </li>
        </ul>
        <table class="table is-fullwidth is-vcentered is-responsive mt-5">
          <thead>
            <tr>
              <th>Tiêu chí đánh giá</th>
              <th width="100px">Số sao</th>
              <th width="150px" align="center">Phân loại</th>
              <th width="70px" align="center">Xử lý</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in dataList)
            {
              <tr>
                <td>
                  <span class="has-text-weight-semibold">@item.name</span>
                  @if(item.special)
                  {
                    <i class="has-text-grey ml-2">(Đánh giá đặc biệt)</i>
                  }
                </td>
                <td>
                  <label class="td-label">Số sao</label>
                  <div class="td-value is-flex is-vcentered">
                    <strong>@item.star</strong>
                    <span class="icon">
                      <i class="material-icons-outlined is-size-6 has-text-warning">star</i>
                    </span>
                  </div>
                </td>
                <td align="center">
                  <label class="td-label">Phân loại</label>
                  <div class="td-value">
                    @if (item.type == 1)
                    {
                      <span class="tag is-primary">Phản hồi</span>
                    }
                    else
                    {
                      <span class="tag is-info">Ghi nhận</span>
                    }
                  </div>
                </td>
                <td align="center">
                  <label class="td-label">Xử lý</label>
                  <div class="td-value">
                    <a class="icon has-text-link" title="Chỉnh sửa" @onclick="() => EditItem(item)">
                      <i class="material-icons-outlined is-size-5">
                        edit
                      </i>
                    </a>
                    <a class="icon has-text-danger" title="Xóa" @onclick="() => DeleteItem(item)">
                      <i class="material-icons-outlined is-size-5">
                        delete
                      </i>
                    </a>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </section>
}

@if (current != null)
{
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <div class="modal-card-head">
        <div class="modal-card-title">
          @(string.IsNullOrEmpty(current.id) ? "Tạo tiêu chí đánh giá mới" : "Chỉnh sửa tiêu chí đánh giá")
        </div>
        <a class="delete" @onclick="() => current = null"></a>
      </div>
      <div class="modal-card-body">
        <form @onsubmit="Update">
          <div class="field">
            <label class="label">Tiêu chí đánh giá</label>
            <div class="control">
              <input @bind="current.name" type="text" class="input" />
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <label class="label">Số sao</label>
              <input class="input" @bind="current.star" type="number" />
            </div>
            <div class="control">
              <label class="label">Loại</label>
              <div class="select is-fullwidth">
                <select @bind="current.type">
                  @*<option value="1">Phản hồi</option>*@
                  <option value="2">Ghi nhận</option>
                </select>
              </div>
            </div>
            <div class="control is-expanded">
              <label class="label">Thuộc tính</label>
              <div class="control has_radio">
                <label class="checkbox">
                  <input type="checkbox" @bind="current.special">
                  Đánh giá đặc biệt
                </label>
              </div>
            </div>
          </div>
          <div class="field mt-5">
            <div class="buttons is-right">
              <a class="button" @onclick="() => current = null">
                Hủy
              </a>
              <a class="button is-link" @onclick="Update">
                <span class="icon">
                  <span class="material-icons-outlined is-size-6">
                    done
                  </span>
                </span>
                <span>Cập nhật</span>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
}

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }

  [Parameter]
  public string Id { get; set; }

  private bool _loaded = false;
  private bool _success = false;
  private string _message = string.Empty;
  private string _title = "Cấu hình tiêu chí đánh giá";

  private List<OkrConfigModel.Evaluate> dataList = new();
  private OkrConfigModel.Evaluate current = null;
  private OkrConfigModel config = new();

  protected override async Task OnInitializedAsync()
  {
    config = await DbOkrConfig.Get(Layout.Company.id);
    dataList = config.evaluates;
    _loaded = true;
  }

  private async Task DeleteItem(OkrConfigModel.Evaluate item)
  {
    if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Bạn có chắc muốn xóa {item.name}"))
      return;

    dataList.Remove(item);
    config.evaluates = dataList;
    await DbOkrConfig.Update(Layout.Company.id, config);

    await Layout.RefreshData();
  }

  private void EditItem(OkrConfigModel.Evaluate item)
  {
    if (item == null)
    {
      current = new() { type = 2 };
    }
    else
    {
      current = item;
    }
  }

  private async Task Update()
  {
    _success = false;
    _message = string.Empty;

    if (string.IsNullOrEmpty(current.name))
    {
      _message = "Bạn cần nhập tên tiêu chí !";
    }
    else
    {
      if (string.IsNullOrEmpty(current.id))
      {
        current.id = Mongo.RandomId();
        dataList.Add(current);
      }

      dataList = (from x in dataList orderby x.type, x.star select x).ToList();
      config.evaluates = dataList;
      await DbOkrConfig.Update(Layout.Company.id, config);

      current = null;

      await Layout.RefreshData();
    }
  }
}