@page "/config/storage/logs"
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<PageTitle>Lịch sử xóa file</PageTitle>

<section class="p-4">
  <div class="tabs is-boxed mb-0">
    <ul>
      <li>
        <a href="/config/storage/files">
          <span>Quản lý lưu trữ</span>
        </a>
      </li>
      <li class="is-active">
        <a href="/config/storage/logs">
          <span>Lịch sử xóa file</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="card p-4">
    <ul class="columns is-multiline is-variable is-2 is-vcentered mb-3">
      <li class="column is-three-quarters">
        <div class="title is-5 has-text-info">QUẢN LÝ LƯU TRỮ</div>
      </li>
      <li class="column is-one-quarter">
        <form @onsubmit="GetList" class="control has-icons-right">
          <input @bind="filterKey" type="text" class="input is-rounded is_bg" placeholder="Tìm kiếm file..." />
          <span class="icon is-right">
            <i class="material-icons-outlined is-size-6">search</i>
          </span>
        </form>
      </li>
    </ul>

    <div class="scrolly" style="height: calc(100vh - 220px);">
      <table class="table is-fullwidth is-vcentered">
        <thead>
            <tr class="has-background-info has-text-black">
            <th>Tên file</th>
            <th width="180px">Định dạng</th>
            <th width="150px">Kích thước</th>
            <th width="150px">Ngày xóa</th>
            <th width="200px">Người xóa</th>
          </tr>
        </thead>
        <tbody>
          <Virtualize Items="dataList" Context="item" ItemSize="39">
            <tr>
              <td>
                @item.name
              </td>
              <td>
                @item.format
              </td>
              <td>
                @SizeToString(item.size)
              </td>
              <td>
                @string.Format("{0:dd/MM/yyyy, HH:mm}", new DateTime(item.date))
              </td>
              <td>
                <a class="icon-text">
                  <span class="icon image is-24x24 is-rounded">
                    <img src="@item.author_avatar" alt="IMG">
                  </span>
                  <span>@item.author_name</span>
                </a>
              </td>
            </tr>
          </Virtualize>
        </tbody>
      </table>
    </div>
  </div>
</section>

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }
  private List<FileModel> database = new();
  private List<FileModel> dataList = new();
  private string filterKey = string.Empty;
  private long unit = 1024;

  protected override async Task OnInitializedAsync()
  {
    database = await DbStorageLog.GetList(Layout.Company.id);
    GetList();
  }

  private void GetList()
  {
    dataList = database.OrderByDescending(x => x.date).ToList();
    if(!string.IsNullOrEmpty(filterKey))
      dataList.RemoveAll(x => !StringHelper.SearchKeyword(filterKey, x.name + x.author_name));
  }

  private string SizeToString(double size)
  {
    if(size >= unit * unit * unit)
      return string.Format("{0:0.00} GB", size / (unit * unit * unit));
    else if(size >= unit * unit)
      return string.Format("{0:0.00} MB", size / (unit * unit));
    else
      return string.Format("{0:0.00} KB", size / unit);
  }
}