@page "/config/todolist"
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<PageTitle>@_title</PageTitle>

@if (Layout.User.role != 1 && !Layout.User.role_manage.system)
{
  <PopupNoRole />
}
else if (company != null)
{
  <section class="columns is-centered p-4">
    <div class="column is-small">
      <div class="card p-5">
        <h1 class="title is-5 has-text-info">
          CẤU HÌNH TODOLIST
        </h1>
        <ul class="columns is-multiline">
          <li class="column is-half">
            <div class="field">
              <label class="label">Thời gian check-in</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select @bind="company.todolist.time_checkin">
                    @foreach (var sl in Shared.TimeList(7, 23))
                    {
                      <option value="@sl.name">@sl.name</option>
                    }
                  </select>
                </div>
              </div>
            </div>
          </li>
          <li class="column is-half">
            <div class="field">
              <label class="label">Ngày check-in</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select @bind="company.todolist.day_checkin">
                    <option value="-1">Trước ngày làm việc 1 ngày</option>
                    <option value="0">Check-in vào ngày làm việc</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
          <li class="column is-half">
            <div class="field">
              <label class="label">Thời gian check-out</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select @bind="company.todolist.time_checkout">
                    @foreach (var sl in Shared.TimeList(7, 23))
                    {
                      <option value="@sl.name">@sl.name</option>
                    }
                  </select>
                </div>
              </div>
            </div>
          </li>
          <li class="column is-half">
            <div class="field">
              <label class="label">Thời gian tự động xác nhận</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select @bind="company.todolist.time_confirm">
                    @foreach (var sl in Shared.TimeList())
                    {
                      <option value="@sl.name">@sl.name</option>
                    }
                  </select>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="field mt-5">
          <a class="button is-link" @onclick="Update">
            <span class="icon">
              <span class="material-icons-outlined is-size-6">
                done
              </span>
            </span>
            <span>Cập nhật</span>
          </a>
        </div>
      </div>
    </div>
  </section>
}

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }
  private string _title = "Cấu hình Todolist";

  private CompanyModel company = null;

  protected override async Task OnInitializedAsync()
  {
    company = await DbMainCompany.Get(Layout.Company.id);
  }

  private async Task Update()
  {
    await DbMainCompany.Update(company);
    await JSRuntime.InvokeVoidAsync("tagline", true, "Đã cập nhật cấu hình Todolist.");
    // Gửi thông báo đến nhân viên
    foreach (var user in Layout.UserList)
      await DbNotify.Create(Layout.Company.id, 20, company.id, user.id, Layout.User.id);
  }
}