@inject ProtectedLocalStorage storage
@inject NavigationManager navigation

<div id="logo" class="p-4">
   <img src="/images/logo.png" alt="logo" />
</div>

<nav class="menu">
   <ul class="menu-list">
      @foreach (var item in ListNav)
      {
         <li>
            <a class="@(navigation.Uri.Contains(item.link) ? "is-active" : "")" href="@item.link">
               <span class="icon">
                  <i class="feather icon-@item.icon"></i>
               </span>
               <span>@item.name</span>
               @if (item.childs != null)
               {
                  <span class="icon">
                     <i class="feather icon-chevron-down"></i>
                  </span>
               }
            </a>
            @if (item.childs != null)
            {
               <ul>
                  @foreach (var child in item.childs)
                  {
                     <li>
                        <a class="@(navigation.Uri.Contains(child.link) ? "is-active" : "")" @onclick="() => LinkClick(child.link)">
                           @child.name
                        </a>
                     </li>
                  }
               </ul>
            }
         </li>
      }
   </ul>
</nav>

@code {
   [CascadingParameter]
   public MainLayout Layout { get; set; }

   private List<NavModel> ListNav = new();

   protected override async Task OnInitializedAsync()
   {
      var houses = new List<NavModel>();
      foreach (var item in Layout.ListHoue)
      {
         houses.Add(new NavModel { name = item.name, link = "/partner/house/info/" + item.id });
      }

      ListNav.Add(new NavModel
      {
         name = "Trang chủ",
         link = "/partner/home",
         icon = "home"
      });
      ListNav.Add(new NavModel
      {
         name = "Tòa nhà",
         link = "/partner/house/list",
         icon = "grid",
         childs = houses
      });
      ListNav.Add(new NavModel
      {
         name = "Thêm tòa nhà",
         link = "/partner/house/add",
         icon = "plus-circle"
      });
      ListNav.Add(new NavModel
      {
         name = "Thêm phòng",
         link = "/partner/room/add",
         icon = "plus-circle"
      });
      ListNav.Add(new NavModel
      {
         name = "Danh thu",
         link = "/partner/coming#doanthu",
         icon = "lock"
      });
      ListNav.Add(new NavModel
      {
         name = "Chi phí",
         link = "/partner/coming#chiphi",
         icon = "lock"
      });
      ListNav.Add(new NavModel
      {
         name = "QLKH",
         link = "/partner/coming#qlkh",
         icon = "lock"
      });
   }

   private void LinkClick(string link)
   {
      if(navigation.Uri.Contains("house/info"))
         navigation.NavigateTo(link, true);
      else
         navigation.NavigateTo(link, false);
   }
}