@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<div class="card p-5 p-4-mobile">
  <ul class="columns is-multiline is-vcentered is-variable is-2 mb-3">
    <li class="column is-full">
      <div class="title is-5 is-size-6-mobile has-text-info">TỔNG QUAN</div>
    </li>
    <li class="column">
      <div class="field has-addons">
        <div class="control">
          <span class="button is-link">
            <i class="material-icons-outlined">calendar_today</i>
          </span>
        </div>
        <div class="control" style="width: 200px;">
          <div class="input">
            <DateRangePicker @bind-StartDate="filterStart" @bind-EndDate="filterEnd" OnRangeSelect="ChangePicker" />
          </div>
        </div>
        <div class="control">
          <div class="select is-fullwidth">
            <select @onchange="ChangeDate">
              <option value="1">Tuần này</option>
              <option value="11">Tuần trước</option>
              <option value="2">Tháng này</option>
              <option value="22">Tháng trước</option>
              <option value="3">Quý này</option>
            </select>
          </div>
        </div>
      </div>
    </li>
    <li class="column is-narrow">
      <DepartmentDropdown department="@filterDepartment" OnUpdate="ChangeFilterDepartment" />
    </li>
    <li class="column is-one-quarter">
      <MemberSearch department="@filterDepartment" sources="Layout.UserList" OnUpdate="ChangeFilterUser" />
    </li>
  </ul>
  <ul class="columns is-multiline is-variable is-2">
    @for (int i = 0; i < chartList.Count; i++)
    {
      if (i < chartList.Count)
      {
        var item = chartList[i];
        <li class="column @(i == 0 ? "is-full" : "is-half") pt-5">
          <h2 class="title is-6 has-text-info mb-3">@item.name</h2>
          <div class="@(Layout.IsMobile ? "" : "pl-6")">
            <div style="height: 150px;">
              <canvas id="chart_@item.id" height="150"></canvas>
            </div>
            <div class="has-text-info pt-2 pl-5">@item.desc</div>
          </div>
        </li>
      }
    }
  </ul>
</div>

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }
  [Parameter]
  public List<DepartmentModel> departmentAll { get; set; }
  [Parameter]
  public List<DepartmentModel.SelectList> departments { get; set; }

  private List<ProgressModel> chartList = new();
  private string filterUserId = string.Empty;
  private DateTimeOffset? filterStart { get; set; }
  private DateTimeOffset? filterEnd { get; set; }
  private string filterDepartment = null;

  protected override async Task OnInitializedAsync()
  {
    Shared.GetTimeSpan(1, out DateTime start, out DateTime end);
    filterStart = start;
    filterEnd = end;

    filterDepartment = Layout.User.department_default;

    await ChangeFilterDepartment(filterDepartment);
  }

  public async Task ChangePicker(DateRange range)
  {
    filterStart = range.Start;
    filterEnd = range.End;
    await GetData();
  }

  private async Task ChangeDate(ChangeEventArgs e)
  {
    var type = Convert.ToInt32(e.Value);
    Shared.GetTimeSpan(type, out DateTime start, out DateTime end);
    filterStart = start;
    filterEnd = end;
    await GetData();
  }

  private async Task ChangeFilterDepartment(string value)
  {
    filterDepartment = value;
    filterUserId = string.Empty;
    await GetData();
  }

  private async Task ChangeFilterUser(string value)
  {
    if(!string.IsNullOrEmpty(value))
      filterUserId = value;
    await GetData();
  }

  private async Task GetData()
  {
    var data = await DbOkrCheckin.GetList(Layout.Company.id, Layout.CycleId, 
      filterStart.Value.DateTime, filterEnd.Value.DateTime);

    chartList.Clear();
    if (!string.IsNullOrEmpty(filterUserId))
    {
      var userInfo = Layout.UserList.FirstOrDefault(x => x.id == filterUserId);
      if(userInfo != null)
      {
        var item = new ProgressModel()
        {
          id = userInfo.id,
          name = userInfo.FullName
        };
        item.desc = await RenderChart(filterUserId, new List<string>() { filterUserId }, data);
        chartList.Add(item);
      }
    }
    else if (!string.IsNullOrEmpty(filterDepartment))
    {
      var department = departmentAll.SingleOrDefault(x => x.id == filterDepartment);
      if (department != null)
      {
        var item = new ProgressModel()
        {
          id = department.id,
          name = department.name
        };
        item.desc = await RenderChart(department.id, department.members_id, data);
        chartList.Add(item);

        var childs = departmentAll.Where(x => x.parent == department.id);
        foreach (var child in childs)
        {
          var itemChild = new ProgressModel()
          {
            id = child.id,
            name = child.name
          };
          itemChild.desc = await RenderChart(child.id, child.members_id, data);
          chartList.Add(itemChild);
        }
      }
    }
    else
    {
      var childs = departmentAll.Where(x => x.parent == null);
      foreach (var child in childs)
      {
        var item = new ProgressModel()
        {
          id = child.id,
          name = child.name
        };
        item.desc = await RenderChart(child.id, child.members_id, data);
        chartList.Add(item);
      }
    }
  }

  private async Task<string> RenderChart(string id, List<string> members_id, List<OkrCheckinModel> data)
  {
    var checkins = (from x in data
                    where members_id.Contains(x.user_create)
                      || members_id.Contains(x.user_checkin)
                    select x).ToList();

    var colors = "#355caa,#dc787e";
    var labels = ("Đúng hạn,Trễ hạn").Split(",");
    var values = new int[2];

    values[0] = checkins.Where(x => x.status_checkin != 2).Count();
    values[1] = checkins.Where(x => x.status_checkin == 2).Count();

    await JSRuntime.InvokeAsync<string>("chartDoughnut", "chart_" + id, labels, values, colors);

    return $"{values[0]}/{checkins.Count} Check-in đúng hạn";
  }
}