@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<PageTitle>Thống kê Kế hoạch</PageTitle>

<div class="card p-5">
  <ul class="columns is-vcentered is-variable is-2 mb-3">
    <li class="column">
      <h1 class="title is-5 has-text-info">
        DANH SÁCH KẾ HOẠCH
      </h1>
    </li>
    <li class="column is-narrow">
      <div class="dropdown is-right @(toggleDepartment ? "is-active" : "")">
        <div class="dropdown-trigger">
          <a class="icon-text" @onclick="() => toggleDepartment = !toggleDepartment">
            <span class="has-text-link">
              @department.name
            </span>
            <span class="icon">
              <i class="material-icons-outlined is-size-5">arrow_drop_down</i>
            </span>
          </a>
        </div>
        <div class="dropdown-menu">
          <div class="dropdown-content">
            <a class="dropdown-item is-family-code" @onclick="() => FilterDepartment(null)">
              Tất cả phòng ban
            </a>
            @foreach (var sl in departments)
            {
              <a class="dropdown-item is-family-code" @onclick="() => FilterDepartment(sl)">
                @((MarkupString)sl.name.Replace("'", "&nbsp;"))
              </a>
            }
          </div>
        </div>
      </div>
    </li>
    <li class="column is-one-quarter">
      <div class="control has-icons-right">
        <input @bind="filterKey" class="input is-small is-rounded" type="text" 
          placeholder="Tiêu đề kế hoạch..." @onkeydown="FilterKey">
        <span class="icon is-right is-small">
          <i class="material-icons-outlined is-size-5">search</i>
        </span>
      </div>
    </li>
  </ul>

  <table class="table is-fullwidth is-vcentered is-noborder is-responsive mt-3">
    <thead>
      <tr class="is-size-7">
        <th>Kế hoạch</th>
        <th width="110px">Chế độ</th>
        <th align="center" width="150px">Công việc hoàn thành</th>
        <th align="center" width="150px">Công việc trễ hạn</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in planList)
      {
        var show = toggleStatus.Contains(item.Key);
        var status = WorkService.StatusPlan(item.Key);
        <tr>
          <td colspan="4">
            <div class="icon-text">
              <a class="icon is-small has-text-dark mr-2" @onclick="() => ToggleStatus(status.id)">
                <i class="material-icons-outlined is-size-5">@(show ? "arrow_drop_down" : "arrow_right")</i>
              </a>
              <span class="has-text-weight-semibold font_14 is-uppercase">
                Kế hoạch @status.name (@item.Value.Count)
              </span>
            </div>
          </td>
        </tr>

        @if(show)
        {
          foreach (var plan in item.Value)
          {
            var report = DbWorkReport.Get(Layout.Company.id, plan.id);
            var done = Shared.Progress(report.done, report.total);
            var late = Shared.Progress(report.late, report.total);
            <tr>
              <td class="pl-5">
                <a class="has-text-link has-text-weight-medium" href="/work/@plan.id/detail">
                  @plan.name
                </a>
              </td>
              <td>
                <span class="icon-text">
                  <span class="icon is-small">
                    <i class="material-icons-outlined is-size-6">
                      @(plan.is_private ? "lock" : "public")
                    </i>
                  </span>
                  <span>@(plan.is_private ? "Riêng tư" : "Công khai")</span>
                </span>
              </td>
              <td align="center">
                <span>@string.Format("{0}/{1}", report.done, report.total)</span>
                <span class="px-1">•</span>
                <span>@Shared.ConvertNumber(done)%</span>
              </td>
              <td align="center">
                <span>@string.Format("{0}/{1}", report.late, report.total)</span>
                <span class="px-1">•</span>
                <span>@Shared.ConvertNumber(late)%</span>
              </td>
            </tr>
          }
        }
      }
    </tbody>
  </table>
</div>

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }
  [Parameter]
  public List<DepartmentModel> departmentAll { get; set; }
  [Parameter]
  public List<DepartmentModel.SelectList> departments { get; set; }

  private Dictionary<int, List<WorkPlanModel>> planList = new();
  private List<int> toggleStatus = new() { 1 };
  private DepartmentModel department = new() { name = "Tất cả phòng ban" };
  private bool toggleDepartment = false;
  private string filterKey = string.Empty;

  protected override async Task OnInitializedAsync()
  {
    if (!string.IsNullOrEmpty(Layout.User.department_default))
      department = departmentAll.FirstOrDefault(x => x.id == Layout.User.department_default);
    if(department == null)
      department = new() { name = "Tất cả phòng ban" };
    
    await GetDataList();
  }
  
  private async Task FilterDepartment(DepartmentModel.SelectList item)
  {
    toggleDepartment = false;
    if (item != null)
      department = departmentAll.FirstOrDefault(x => x.id == item.id);
    else
      department = new() { name = "Tất cả phòng ban" };
    await GetDataList();
  }
  
  private async Task FilterKey(KeyboardEventArgs args)
  {
    if (args.Key == "Enter")
    {
      await GetDataList();
    }
    else if(args.Key == "Escape")
    {
      filterKey = string.Empty;
      await GetDataList();
    }
  }
  
  private void ToggleStatus(int id)
  {
    if(toggleStatus.Contains(id))
      toggleStatus.Remove(id);
    else
      toggleStatus.Add(id);
  }

  private async Task GetDataList()
  {
    // Lấy tất cả kế hoạch đang có
    var data = await DbWorkPlan.GetAll(Layout.Company.id);

    // Tìm kiếm theo tiêu đề kế hoạch
    if(!string.IsNullOrEmpty(filterKey))
      data = data.Where(x => Shared.SearchKeyword(filterKey, x.name)).ToList();

    // Lọc dự án theo phòng ban
    var views = new List<WorkPlanModel>();
    foreach (var item in data)
    {
      if(department.members_id == null)
        views.Add(item);
      else if(item.members != null)
      {
        var check = item.members.Where(x => department.members_id.Contains(x.id)).Count();
        if(check > 0)
          views.Add(item);
      }
    }

    planList.Clear();
    foreach (var status in WorkService.StatusPlan())
    {
      var list = views.Where(x => x.status == status.id).ToList();
      planList.Add(status.id, list);
    }
  }
}